.loader-hidden {
    visibility: hidden;
}

.loader-overlay {
    position: absolute;
    width:100%;
    top:40%;
    left:45%;
    opacity: 1;
    z-index: 500000;
    cursor: pointer; /* Add a pointer on hover */
}

.app-overlay {
    position: fixed; 
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: rgba(0,0,0,0.5);  Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.ui-progress-spinner-circle {
    width:100px; /*width of your image*/
    height:100px; /*height of your image*/
    background-image:url('/assets/images/header/immport-private-data-icon.png');
    margin:0; /* If you want no margin */
    padding:0; /*if your want to padding */
}