<div class="hierarchy-div">
  <div class="page-header">
    {{ title }}
    <span> -- <button routerLink="/hierarchy/{{conceptCode}}" [label]="hierarchyButtonLabel" pButton
        type="button"></button> </span>
    <span style="float:right"><button routerLink="/search" label="Back to Search" pButton type="button"></button></span>
  </div>
  <p-tabView [activeIndex]="activeIndex" (onChange)="handleChange($event)">
    <p-tabPanel header="Terms And Properties" [selected]="true">
      <app-concept-detail [concept]="conceptDetail" [properties]="properties"></app-concept-detail>
    </p-tabPanel>
    <p-tabPanel header="Relationships">
      <app-concept-relationship [conceptRelationships]="conceptRelationships" [urlBase]="urlBase"
        [urlTarget]="urlTarget">
      </app-concept-relationship>
    </p-tabPanel>
    <p-tabPanel header="View All">
      <app-concept-detail [concept]="conceptDetail" [properties]="properties"></app-concept-detail>
      <app-concept-relationship [conceptRelationships]="conceptRelationships" [urlBase]="urlBase"
        [urlTarget]="urlTarget">
      </app-concept-relationship>
    </p-tabPanel>
  </p-tabView>
</div>
