<div class="hierarchy-div">
  <div class="page-header ui-coloring">
    {{ title }}
    <span *ngIf="displayHierarchy"> -- <button
        [routerLink]="['/hierarchy', terminology, conceptCode]" class="ui-button-coloring"
        [queryParams]="getSelectedSourcesQueryParam()" [label]="hierarchyButtonLabel" pButton
        type="button"></button>
    </span>
    <span *ngIf="displayHierarchy && configService.isMultiSource()"> <button
        (click)="termSuggestionUrl()" class="ui-button-coloring" [label]="termSuggestionButton"
        pButton type="button"></button>
    </span>
    <span style="float:right" class="ui-button-back-to-search"><button [routerLink]="['/welcome']"
        [queryParams]="{terminology: terminology}" label="New Search" pButton type="button"
        class="ui-button-coloring"></button></span>
    <span style="float:right"><button (click)="expandCollapseTables()" [label]="collapsedText"
        pButton type="button" class="ui-button-coloring"></button></span>
  </div>
  <div *ngIf="configService.isMultiSource()" class="center">
    <span *ngIf="sources.length > 1">
      <span *ngFor="let source of sources; index as i">
        <span *ngIf="i != 0"> | </span>
        <a href="javascript:void(0)" *ngIf="!selectedSources.has(source)"
          (click)="toggleSelectedSource(source)">{{source}}</a>
        <span class="pointer" *ngIf="selectedSources.has(source)"
          (click)="toggleSelectedSource(source)"><b>{{source}}</b></span>
      </span>
    </span>
  </div>
  <p-tabView [(activeIndex)]="activeIndex" (onChange)="handleChange($event)">
    <p-tabPanel header="View All">
      <app-concept-detail [concept]="conceptDetail"></app-concept-detail>
      <app-concept-relationship [concept]="conceptDetail" [urlBase]="urlBase"
        [urlTarget]="urlTarget">
      </app-concept-relationship>
    </p-tabPanel>
    <p-tabPanel header="Terms and Properties">
      <app-concept-detail [concept]="conceptDetail"></app-concept-detail>
    </p-tabPanel>
    <p-tabPanel header="Relationships">
      <app-concept-relationship [concept]="conceptDetail" [urlBase]="urlBase"
        [urlTarget]="urlTarget">
      </app-concept-relationship>
    </p-tabPanel>
  </p-tabView>
</div>
