<div class="hierarchy-div">
  <div class="page-header">
    {{ title }}
    <span *ngIf="displayHierarchy"> -- <button routerLink="/hierarchy/{{conceptCode}}" [label]="hierarchyButtonLabel" pButton
        type="button"></button> </span>
    <span style="float:right"><button routerLink="/search" label="Back to Search" pButton type="button"></button></span>
  </div>
  <p-tabView *ngIf="!displayHierarchy" [(activeIndex)]="selectedSource" (onChange)="setSelectedSource($event)">
    <p-tabPanel *ngFor="let source of sources; let i = index" [selected]="i == 0" header={{source}}>
    </p-tabPanel>
  </p-tabView>
  <p-tabView [(activeIndex)]="activeIndex" (onChange)="handleChange($event)">
    <p-tabPanel header="Terms And Properties">
      <app-concept-detail [concept]="conceptDetail"></app-concept-detail>
    </p-tabPanel>
    <p-tabPanel header="Relationships">
      <app-concept-relationship [concept]="conceptWithRelationships" [urlBase]="urlBase" [urlTarget]="urlTarget">
      </app-concept-relationship>
    </p-tabPanel>
    <p-tabPanel header="View All">
      <app-concept-detail [concept]="conceptDetail"></app-concept-detail>
      <app-concept-relationship [concept]="conceptWithRelationships" [urlBase]="urlBase" [urlTarget]="urlTarget">
      </app-concept-relationship>
    </p-tabPanel>
  </p-tabView>

</div>
