<div id="hierarchyTableDisplay" style="height: 800px; width: 100%;">
  <as-split [direction]="direction">
    <as-split-area [size]="hierarchyPanelSize">
      <div class="hierarchy-div">
        <div class="page-header">
          Concept Hierarchy
        </div>
        <p-treeTable #hierarchyTable [value]="hierarchyData" selectionMode="single" dataKey="code"
          [(selection)]="selectedNode" [scrollable]="true" scrollHeight="800px"
          (onNodeExpand)="treeTableNodeExpand($event)" (onNodeCollapse)="treeTableNodeCollapse($event)"
          (onNodeSelect)="treeTableNodeSelected(selectedNode)">
          <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
            <tr [ttRow]="rowNode" [ttSelectableRow]="rowNode" [ngClass]="{'treenode-highlight': rowData.highlight}">
              <td>
                <div style="display:flex;">
                  <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                  {{rowData.label}}
                </div>
              </td>
            </tr>
          </ng-template>
        </p-treeTable>
      </div>
    </as-split-area>
    <as-split-area [size]="conceptPanelSize">
      <div class="hierarchy-div">
        <div class="page-header">
          {{ title }}
          <span style="float:right"><button routerLink="/search" label="Back to Search" pButton
              type="button"></button></span>
        </div>
        <p-tabView [activeIndex]="activeIndex" (onChange)="handleChange($event)">
          <p-tabPanel header="Terms And Properties" [selected]="true">
            <app-concept-detail [concept]="conceptDetail" [properties]="properties"></app-concept-detail>
          </p-tabPanel>
          <p-tabPanel header="Relationships">
            <app-concept-relationship [concept]="conceptWithRelationships" [urlBase]="urlBase" [urlTarget]="urlTarget">
            </app-concept-relationship>
          </p-tabPanel>
          <p-tabPanel header="View All">
            <app-concept-detail [concept]="conceptDetail" [properties]="properties"></app-concept-detail>
            <app-concept-relationship [concept]="conceptWithRelationships" [urlBase]="urlBase" [urlTarget]="urlTarget">
            </app-concept-relationship>
          </p-tabPanel>
        </p-tabView>
      </div>
    </as-split-area>
  </as-split>
</div>
