<div *ngIf="concept">
  <p-panel [toggleable]="true">
    <p-header class="bold-heading">
      Parent Concepts
    </p-header>
    <div class="table-responsive">
      <table class="table table-striped table-bordered" *ngIf="
          concept.parents &&
            concept.parents.length > 0;
          else elseBlockParentConcept
        ">
        <thead>
          <tr>
            <th class="w-20">Code</th>
            <th class="w-80">Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="
              let parent of concept.parents
            ">
            <td class="w-20">{{ parent.code }}</td>
            <td class="w-80">
              <a [routerLink]="[urlBase, parent.code]" [target]='urlTarget'>{{ parent.name }} </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-template #elseBlockParentConcept>None</ng-template>
  </p-panel>
  <br />
  <p-panel [toggleable]="true">
    <p-header class="bold-heading">
      Child Concepts
    </p-header>
    <div class="table-responsive">
      <table class="table table-striped table-bordered" *ngIf="
          concept.children &&
            concept.children.length > 0;
          else elseBlockChildConcept
        ">
        <thead>
          <tr>
            <th class="w-20">Code</th>
            <th class="w-80">Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let child of concept.children">
            <td>{{ child.code }}</td>
            <td>
              <a [routerLink]="[urlBase, child.code]" [target]='urlTarget'>{{ child.name }} </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-template #elseBlockChildConcept>None</ng-template>
  </p-panel>
  <br />
  <p-panel [toggleable]="true">
    <p-header class="bold-heading">
      Role Relationships
      <span class="small-heading">
        asserted or inherited, pointing from the current concept to other concepts:
      </span>
    </p-header>
    <div class="table-responsive">
      <table class="table table-striped table-bordered" *ngIf="
          concept.roles && concept.roles.length > 0;
          else elseBlockRole
        ">
        <thead>
          <tr>
            <th class="w-30">Relationship</th>
            <th class="w-20">Related Code</th>
            <th class="w-30">Related Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let role of concept.roles">
            <td>{{ role.type }}</td>
            <td>{{ role.relatedCode }}</td>
            <td>
              <a [routerLink]="[urlBase, role.relatedCode ]" target='urlTarget'>{{ role.relatedName }}</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-template #elseBlockRole>None</ng-template>
  </p-panel>
  <br />
  <p-panel [toggleable]="true">
    <p-header class="bold-heading">
      Associations
      <span class="small-heading">
        pointing from the current concept to other concepts:
      </span>
    </p-header>
    <div class="table-responsive">
      <table class="table table-striped table-bordered" *ngIf="
          concept.associations &&
            concept.associations.length > 0;
          else elseBlockAssociation
        ">
        <thead>
          <tr>
            <th class="w-30">Relationship</th>
            <th class="w-20">Related Code</th>
            <th class="w-30">Related Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let association of concept.associations">
            <td>{{ association.type }}</td>
            <td>{{ association.relatedCode }}</td>
            <td>
              <a [routerLink]="[urlBase, association.relatedCode ]" target="urlTarget">{{ association.relatedName }}</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-template #elseBlockAssociation>None</ng-template>
  </p-panel>
  <br />

  <p-panel [toggleable]="true">
    <p-header class="bold-heading">
      Incoming Role Relationships
      <span class="small-heading">
        asserted or inherited, pointing from other concepts to the current concept:
      </span>
    </p-header>
    <div class="table-responsive">
      <table class="table table-striped table-bordered" *ngIf="
          concept.inverseRoles && concept.inverseRoles.length > 0;
          else elseBlockIncomingRole
        ">
        <thead>
          <tr>
            <th class="w-30">Relationship</th>
            <th class="w-20">Related Code</th>
            <th class="w-30">Related Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let irole of concept.inverseRoles">
            <td>{{ irole.type }}</td>
            <td>{{ irole.relatedCode }}</td>
            <td>
              <a [routerLink]="[urlBase, irole.relatedCode ]" target="urlTarget">{{ irole.relatedName }}</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-template #elseBlockIncomingRole>
      None
    </ng-template>
  </p-panel>
  <br />
  <p-panel [toggleable]="true">
    <p-header class="bold-heading">
      Incoming Associations
      <span class="small-heading">
        pointing from other concepts to the current concept:
      </span>
    </p-header>
    <div class="table-responsive">
      <table class="table table-striped table-bordered" *ngIf="
          concept.inverseAssociations && concept.inverseAssociations.length > 0;
          else elseBlockIncomingAssociation
        ">
        <thead>
          <tr>
            <th class="w-30">Relationship</th>
            <th class="w-20">Related Code</th>
            <th class="w-30">Related Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="
              let iassociation of concept.inverseAssociations
            ">
            <td>{{ iassociation.type }}</td>
            <td>{{ iassociation.relatedCode }}</td>
            <td>
              <a [routerLink]="[urlBase, iassociation.relatedCode ]"
                target="urlTarget">{{ iassociation.relatedName }}</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-template #elseBlockIncomingAssociation>
      None
    </ng-template>
  </p-panel>
  <p-panel [toggleable]="true">
    <p-header class="bold-heading">
      DisjointWith
    </p-header>
    <div class="table-responsive">
      <table class="table table-striped table-bordered" *ngIf="
          concept.disjointWith &&
            concept.disjointWith.length > 0;
          else elseBlockDisjointAssociation
        ">
        <thead>
          <tr>
            <th class="w-30">Relationship</th>
            <th class="w-20">Related Code</th>
            <th class="w-30">Related Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let association of concept.disjointWith">
            <td>{{ association.type }}</td>
            <td>{{ association.relatedCode }}</td>
            <td>
              <a [routerLink]="[urlBase, association.relatedCode ]" target="urlTarget">{{ association.relatedName }}</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-template #elseBlockDisjointAssociation>
      None
    </ng-template>
  </p-panel>
</div>
