<div *ngIf="concept">
  <p-panel [toggleable]="true">
    <p-header class="bold-heading">
      Parent Concepts
    </p-header>
    <div class="table-responsive">
      <p-table [value]="concept.parents" sortMode="single" class="table table-striped table-bordered" *ngIf="
          concept.parents &&
            concept.parents.length > 0;
          else elseBlockParentConcept
        " (sortFunction)="customSort($event)" [customSort]="true">
        <ng-template pTemplate="header">
          <tr>
            <th class="w-20" [pSortableColumn]="'code'">Code
              <p-sortIcon [field]="'code'"></p-sortIcon>
            </th>
            <th class="w-40" [pSortableColumn]="'name'">Name
              <p-sortIcon [field]="'name'"></p-sortIcon>
            </th>
            <th *ngIf="getTerminology() == 'ncim'" class="w-20" [pSortableColumn]="'rela'">Relationship Attribute
              <p-sortIcon [field]="'rela'"></p-sortIcon>
            </th>
            <th *ngIf="getTerminology() == 'ncim'" class="w-20" [pSortableColumn]="'source'">Source
              <p-sortIcon [field]="'source'"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-parent>
          <tr *ngIf="getTerminology() == 'ncit' || (parent.source && (parent.source == getSelectedSource() || sourceParentCheck(parent)))">
            <td class="w-20">{{ parent.code }}</td>
            <td class="w-40">
              <a [routerLink]="[urlBase, parent.code]" [target]='urlTarget'>{{ parent.name }} </a>
            </td>
            <td *ngIf="getTerminology() == 'ncim'" class="w-20">{{ parent.qualifiers && parent.qualifiers[0].type == "RELA" ? parent.qualifiers[0].value :
              "" }}</td>
            <td *ngIf="getTerminology() == 'ncim'" class="w-20">{{ parent.source }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <ng-template #elseBlockParentConcept>None</ng-template>
  </p-panel>
  <br />
  <p-panel [toggleable]="true">
    <p-header class="bold-heading">
      Child Concepts
    </p-header>
    <div class="table-responsive">
      <p-table [value]="concept.children" sortMode="single" class="table table-striped table-bordered" *ngIf="
          concept.children &&
            concept.children.length > 0;
          else elseBlockChildConcept
        " (sortFunction)="customSort($event)" [customSort]="true">
        <ng-template pTemplate="header">
          <tr>
            <th class="w-20" [pSortableColumn]="'code'">Code
              <p-sortIcon [field]="'code'"></p-sortIcon>
            </th>
            <th class="w-20" [pSortableColumn]="'name'">Name
              <p-sortIcon [field]="'name'"></p-sortIcon>
            </th>
            <th class="w-30" *ngIf="getTerminology() == 'ncim'" [pSortableColumn]="'rela'">Relationship Attribute
              <p-sortIcon [field]="'rela'"></p-sortIcon>
            </th>
            <th class="w-30" *ngIf="getTerminology() == 'ncim'" [pSortableColumn]="'source'">Source
              <p-sortIcon [field]="'source'"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-child>
          <tr>
            <td>{{ child.code }}</td>
            <td>
              <a [routerLink]="[urlBase, child.code]" [target]='urlTarget'>{{ child.name }} </a>
            </td>
            <td *ngIf="getTerminology() == 'ncim'">{{ child.qualifiers && child.qualifiers[0].type == "RELA" ? child.qualifiers[0].value :
              "" }}</td>
            <td *ngIf="getTerminology() == 'ncim'">{{ child.source ? child.source : "" }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <ng-template #elseBlockChildConcept>None</ng-template>
  </p-panel>
  <br />
  <p-panel [toggleable]="true" *ngIf="terminology!='ncim'">
    <p-header class="bold-heading">
      Role Relationships
      <span class="small-heading">
        asserted or inherited, pointing from the current concept to other concepts:
      </span>
    </p-header>
    <div class="table-responsive">
      <p-table [value]="concept.roles" sortMode="single" class="table table-striped table-bordered" *ngIf="
          concept.roles && concept.roles.length > 0;
          else elseBlockRole
        " (sortFunction)="customSort($event)" [customSort]="true">
        <ng-template pTemplate="header">
          <tr>
            <th class="w-30" [pSortableColumn]="'type'">Relationship
              <p-sortIcon [field]="'type'"></p-sortIcon>
            </th>
            <th class="w-20" [pSortableColumn]="'relatedCode'">Related Code
              <p-sortIcon [field]="'relatedCode'"></p-sortIcon>
            </th>
            <th class="w-30" [pSortableColumn]="'relatedName'">Related Name
              <p-sortIcon [field]="'relatedName'"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-role>
          <tr>
            <td>{{ role.type }}</td>
            <td>{{ role.relatedCode }}</td>
            <td>
              <a [routerLink]="[urlBase, role.relatedCode ]" target='urlTarget'>{{ role.relatedName }}</a>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <ng-template #elseBlockRole>None</ng-template>
  </p-panel>
  <br />
  <p-panel [toggleable]="true" *ngIf="terminology!='ncim'">
    <p-header class="bold-heading">
      Associations
      <span class="small-heading">
        pointing from the current concept to other concepts:
      </span>
    </p-header>
    <div class="table-responsive">
      <p-table [value]="concept.associations" sortMode="single" class="table table-striped table-bordered" *ngIf="
          concept.associations && concept.associations.length > 0;
          else elseBlockAssociation
        " (sortFunction)="customSort($event)" [customSort]="true">
        <ng-template pTemplate="header">
          <tr>
            <th class="w-30" [pSortableColumn]="'type'">Relationship
              <p-sortIcon [field]="'type'"></p-sortIcon>
            </th>
            <th class="w-20" [pSortableColumn]="'relatedCode'">Related Code
              <p-sortIcon [field]="'relatedCode'"></p-sortIcon>
            </th>
            <th class="w-30" [pSortableColumn]="'relatedName'">Related Name
              <p-sortIcon [field]="'relatedName'"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-association>
          <tr>
            <td>{{ association.type }}</td>
            <td>{{ association.relatedCode }}</td>
            <td>
              <a [routerLink]="[urlBase, association.relatedCode ]" target='urlTarget'>{{ association.relatedName }}</a>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <ng-template #elseBlockAssociation>None</ng-template>
  </p-panel>
  <p-panel [toggleable]="true" *ngIf="terminology=='ncim'">
    <p-header class="bold-heading">
      Broader Concepts
    </p-header>
    <div class="table-responsive">
      <p-table [value]="concept.associations" sortMode="single" class="table table-striped table-bordered" *ngIf="
          concept.associations && concept.broaderConceptsExist() == true;
          else elseBlockAssociation
        " (sortFunction)="customSort($event)" [customSort]="true">
        <ng-template pTemplate="header">
          <tr>
            <th class="w-30" [pSortableColumn]="'type'">Relationship
              <p-sortIcon [field]="'type'"></p-sortIcon>
            </th>
            <th class="w-20" [pSortableColumn]="'relatedCode'">Related Code
              <p-sortIcon [field]="'relatedCode'"></p-sortIcon>
            </th>
            <th class="w-30" [pSortableColumn]="'relatedName'">Related Name
              <p-sortIcon [field]="'relatedName'"></p-sortIcon>
            </th>
            <th class="w-20" [pSortableColumn]="'source'">Source
              <p-sortIcon [field]="'source'"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-association>
          <tr
            *ngIf="association.type == 'RB' && association.source && sourceAssociationCheck(association)">
            <td>{{ association.qualifiers ? association.qualifiers[0].value : "unknown" }}</td>
            <td>{{ association.relatedCode }}</td>
            <td>
              <a [routerLink]="[urlBase, association.relatedCode ]" target='urlTarget'>{{ association.relatedName }}</a>
            </td>
            <td>{{ association.source }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <ng-template #elseBlockAssociation>None</ng-template>
  </p-panel>
  <br />

  <p-panel [toggleable]="true" *ngIf="terminology!='ncim'">
    <p-header class="bold-heading">
      Incoming Role Relationships
      <span class="small-heading">
        asserted or inherited, pointing from other concepts to the current concept:
      </span>
    </p-header>
    <div class="table-responsive">
      <p-table [value]="concept.inverseRoles" sortMode="single" class="table table-striped table-bordered" *ngIf="
          concept.inverseRoles && concept.inverseRoles.length > 0;
          else elseBlockIncomingRole
        " (sortFunction)="customSort($event)" [customSort]="true">
        <ng-template pTemplate="header">
          <tr>
            <th class="w-30" [pSortableColumn]="'type'">Relationship
              <p-sortIcon [field]="'type'"></p-sortIcon>
            </th>
            <th class="w-20" [pSortableColumn]="'relatedCode'">Related Code
              <p-sortIcon [field]="'relatedCode'"></p-sortIcon>
            </th>
            <th class="w-30" [pSortableColumn]="'relatedName'">Related Name
              <p-sortIcon [field]="'relatedName'"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-irole>
          <tr>
            <td>{{ irole.type }}</td>
            <td>{{ irole.relatedCode }}</td>
            <td>
              <a [routerLink]="[urlBase, irole.relatedCode ]" target='urlTarget'>{{ irole.relatedName }}</a>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <ng-template #elseBlockIncomingRole>
      None
    </ng-template>
  </p-panel>
  <p-panel [toggleable]="true" *ngIf="terminology=='ncim'">
    <p-header class="bold-heading">
      Narrower Concepts
    </p-header>
    <div class="table-responsive">
      <p-table [value]="concept.associations" sortMode="single" class="table table-striped table-bordered" *ngIf="
          concept.associations && concept.narrowerConceptsExist() == true;
          else elseBlockAssociation
        " (sortFunction)="customSort($event)" [customSort]="true">
        <ng-template pTemplate="header">
          <tr>
            <th class="w-30" [pSortableColumn]="'type'">Relationship
              <p-sortIcon [field]="'type'"></p-sortIcon>
            </th>
            <th class="w-20" [pSortableColumn]="'relatedCode'">Related Code
              <p-sortIcon [field]="'relatedCode'"></p-sortIcon>
            </th>
            <th class="w-30" [pSortableColumn]="'relatedName'">Related Name
              <p-sortIcon [field]="'relatedName'"></p-sortIcon>
            </th>
            <th class="w-20" [pSortableColumn]="'source'">Source
              <p-sortIcon [field]="'source'"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-association>
          <tr
            *ngIf="association.type == 'RN' && association.source && sourceAssociationCheck(association)">
            <td>{{ association.qualifiers ? association.qualifiers[0].value : "unknown" }}</td>
            <td>{{ association.relatedCode }}</td>
            <td>
              <a [routerLink]="[urlBase, association.relatedCode ]" target='urlTarget'>{{ association.relatedName }}</a>
            </td>
            <td>{{ association.source }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <ng-template #elseBlockAssociation>
      None
    </ng-template>
  </p-panel>
  <br />
  <p-panel [toggleable]="true" *ngIf="terminology!='ncim'">
    <p-header class="bold-heading">
      Incoming Associations
      <span class="small-heading">
        pointing from other concepts to the current concept:
      </span>
    </p-header>
    <div class="table-responsive">
      <p-table [value]="concept.inverseAssociations" sortMode="single" class="table table-striped table-bordered" *ngIf="
          concept.inverseAssociations && concept.inverseAssociations.length > 0;
          else elseBlockIncomingAssociation
        " (sortFunction)="customSort($event)" [customSort]="true">
        <ng-template pTemplate="header">
          <tr>
            <th class="w-30" [pSortableColumn]="'type'">Relationship
              <p-sortIcon [field]="'type'"></p-sortIcon>
            </th>
            <th class="w-20" [pSortableColumn]="'relatedCode'">Related Code
              <p-sortIcon [field]="'relatedCode'"></p-sortIcon>
            </th>
            <th class="w-30" [pSortableColumn]="'relatedName'">Related Name
              <p-sortIcon [field]="'relatedName'"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-iassociation>
          <tr>
            <td>{{ iassociation.type }}</td>
            <td>{{ iassociation.relatedCode }}</td>
            <td>
              <a [routerLink]="[urlBase, iassociation.relatedCode ]" target='urlTarget'>{{ iassociation.relatedName
                }}</a>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <ng-template #elseBlockIncomingAssociation>
      None
    </ng-template>
  </p-panel>
  <p-panel [toggleable]="true" *ngIf="terminology=='ncim'">
    <p-header class="bold-heading">
      Other Relationships
    </p-header>
    <div class="table-responsive">
      <p-table [value]="concept.associations" sortMode="single" class="table table-striped table-bordered" *ngIf="
          concept.associations && concept.otherConceptsExist() == true;
          else elseBlockAssociation
        " (sortFunction)="customSort($event)" [customSort]="true">
        <ng-template pTemplate="header">
          <tr>
            <th class="w-30" [pSortableColumn]="'type'">Relationship
              <p-sortIcon [field]="'type'"></p-sortIcon>
            </th>
            <th class="w-20" [pSortableColumn]="'relatedCode'">Related Code
              <p-sortIcon [field]="'relatedCode'"></p-sortIcon>
            </th>
            <th class="w-30" [pSortableColumn]="'relatedName'">Related Name
              <p-sortIcon [field]="'relatedName'"></p-sortIcon>
            </th>
            <th class="w-20" [pSortableColumn]="'source'">Source
              <p-sortIcon [field]="'source'"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-association>
          <tr
            *ngIf="association.type != 'RB' && association.type != 'RN' && association.source && sourceAssociationCheck(association)">
            <td>{{ association.qualifiers ? association.qualifiers[0].value : "unknown" }}</td>
            <td>{{ association.relatedCode }}</td>
            <td>
              <a [routerLink]="[urlBase, association.relatedCode ]" target='urlTarget'>{{ association.relatedName }}</a>
            </td>
            <td>{{ association.source }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <ng-template #elseBlockAssociation>
      None
    </ng-template>
  </p-panel>
  <p-panel [toggleable]="true" *ngIf="terminology!='ncim'">
    <p-header class="bold-heading">
      Disjoint With
    </p-header>
    <div class="table-responsive">
      <p-table [value]="concept.disjointWith" sortMode="single" class="table table-striped table-bordered" *ngIf="
          concept.disjointWith && concept.disjointWith.length > 0;
          else elseBlockDisjointAssociation
        " (sortFunction)="customSort($event)" [customSort]="true">
        <ng-template pTemplate="header">
          <tr>
            <th class="w-30" [pSortableColumn]="'type'">Relationship
              <p-sortIcon [field]="'type'"></p-sortIcon>
            </th>
            <th class="w-20" [pSortableColumn]="'relatedCode'">Related Code
              <p-sortIcon [field]="'relatedCode'"></p-sortIcon>
            </th>
            <th class="w-30" [pSortableColumn]="'relatedName'">Related Name
              <p-sortIcon [field]="'relatedName'"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-association>
          <tr>
            <td>{{ association.type }}</td>
            <td>{{ association.relatedCode }}</td>
            <td>
              <a [routerLink]="[urlBase, association.relatedCode ]" target='urlTarget'>{{ association.relatedName }}</a>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <ng-template #elseBlockDisjointAssociation>
      None
    </ng-template>
  </p-panel>
</div>
