<div class="container mh400">
  <div class="row" style="padding-top: 6px;">

    <div class="col-12 p-0">
      <div class="shared-logo-box">
        <div class="row">
          <div class="col-sm-4">
            <div style="padding-top: 6px;">
              <p-autoComplete #termauto [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" [delay]="800"
                [(ngModel)]="searchCriteria.term" [suggestions]="textSuggestions" (completeMethod)="search($event)"
                id="termauto" name="termauto" [disabled]="disableEntry()"
                placeholder="Enter concept code or at least 3 letters of a term." [minLength]="3">
              </p-autoComplete>

            </div>

          </div>
          <div class="col-sm-1">
            <div class="ui-inputgroup" style="padding-top: 6px;">
              <button type="button" pButton label="Search" icon="fa fa-search" (click)="onPerformSearch();"
                [disabled]="searchCriteria.term.length < 3"></button>
            </div>
          </div>

          <div class="col-sm-7">
            <div class="ui-inputgroup" style="padding-top: 6px;float:left;">
              <p-multiSelect *ngIf="configService.isMultiSource() && !configService.getMultiSearch()" autoWidth="false"
                [showToggleAll]="true" dropdownIcon="pi pi-caret-down" [options]="sourcesAll"
                [(ngModel)]="searchCriteria.synonymSource" name="sourceSearch" defaultLabel="Source" [filter]="true"
                (onPanelHide)="onChangeSources($event)" [displaySelectedLabel]="false" [resetFilterOnHide]="true">
                <ng-template let-source let-i="index" pTemplate="item">
                  <span style="vertical-align: bottom;">{{source.label}}</span>
                </ng-template>
              </p-multiSelect>

              <span><button styleClass="ui-button-info" type="button" pButton class="ui-button-coloring"
                  style="border:0; margin-left:0px" icon="fa fa-undo" (click)="onResetSearch($event)"
                  pTooltip="Click to start new search" label="New Search" tooltipPosition="bottom"></button></span>

              <div class="large-divider"></div>
              <p-dropdown *ngIf="!configService.getMultiSearch()" styleClass="ui-button-info" [options]="termsAll"
                [(ngModel)]="selectedTerminology" (onChange)="onChangeTerminology($event)">
                <ng-template let-terminology pTemplate="item">
                  <div [title]="terminology.description">
                    {{ terminology.label }}
                  </div>
                </ng-template>
              </p-dropdown>
              <span>
                <button *ngIf="!configService.getMultiSearch()" styleClass="ui-button-info" type="button" pButton
                  class="ui-button-coloring" style="border:0; margin-left:3px" (click)="multiTermSearch()"
                  pTooltip="Click to start multi-terminology search" label="Multi-Term Search"
                  tooltipPosition="bottom"></button>
                <button *ngIf="configService.getMultiSearch()" styleClass="ui-button-info" type="button" pButton
                  class="ui-button-coloring" style="border:0; margin-left:3px" (click)="singleTermSearch()"
                  pTooltip="Click to start single-terminology search" label="Single-Term Search"
                  tooltipPosition="bottom"></button>
              </span>
              <div class="large-divider"></div>
              <span style="max-width: 400px"><button type="button" pButton label="Export" class="ui-button-coloring"
                  style="border:0" icon="fa fa-download" pTooltip="Click to download search results"
                  (click)="exportSearch();" [disabled]="totalRecords == 0 || !configService.canExport()"></button>
              </span>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-sm-6" style="padding-top:3px;">
            <p-radioButton class="radio-padding" styleClass="radio-style" name="searchtype" value="contains"
              label="Contains" [(ngModel)]="searchCriteria.type"
              (onClick)="changeSearchType('contains')"></p-radioButton>
            <p-radioButton class="radio-padding" name="searchtype" value="match" label="Exact Match"
              [(ngModel)]="searchCriteria.type" (onClick)="changeSearchType('match')">
            </p-radioButton>
            <p-radioButton class="radio-padding" name="searchtype" value="startsWith" label="Starts With"
              [(ngModel)]="searchCriteria.type" (onClick)="changeSearchType('startsWith')"></p-radioButton>
            <p-button class="pl-3 pr-3" icon="pi pi-angle-double-right" (onClick)="toggleShowMoreSearchOptions()"
              *ngIf="!showMoreSearchOption" pTooltip="Click to show all search types">
            </p-button><span *ngIf="showMoreSearchOption">
              <br />
              <p-radioButton class="radio-padding" name="searchtype" value="phrase" label="Phrase"
                [(ngModel)]="searchCriteria.type" (onClick)="changeSearchType('phrase')">
              </p-radioButton>
              <p-radioButton class="radio-padding" name="searchtype" value="fuzzy" label="Fuzzy"
                title="Returns approximate string matches" [(ngModel)]="searchCriteria.type"
                (onClick)="changeSearchType('fuzzy')"></p-radioButton>
              <p-radioButton class="radio-padding" name="searchtype" value="AND" label="AND"
                [(ngModel)]="searchCriteria.type" (onClick)="changeSearchType('AND')">
              </p-radioButton>
              <p-radioButton class="radio-padding" name="searchtype" value="OR" label="OR"
                [(ngModel)]="searchCriteria.type" (onClick)="changeSearchType('OR')">
              </p-radioButton>
            </span>
            <p-button icon="pi pi-angle-double-left" (onClick)="toggleShowMoreSearchOptions()"
              *ngIf="showMoreSearchOption">
            </p-button>


          </div>
          <div class="col-sm-2" style="padding-top:3px;">
            <p-chips (keydown)="onChipsKeyEvent($event)"
              *ngIf="searchCriteria.synonymSource && searchCriteria.synonymSource.length > 0"
              [(ngModel)]="searchCriteria.synonymSource" (onRemove)="onSourceDeselect($event)" addOnTab="false"
              addOnBlur="false">
              <ng-template let-item pTemplate="item">
                {{item}}
              </ng-template>
            </p-chips>
          </div>
          <div class="col-sm-4"
            *ngIf="!configService.canExport() && configService.getMultiSearchTerminologies() != null">
            Restricted terminologies: {{ configService.getRestrictedTerms() }}</div>
        </div>
      </div>

    </div>
  </div>


  <div class="row" *ngIf="!welcomePage">

    <div class="col-sm-12 p-0">
      <div class="row">
        <div class="col-sm-12">
          <p-toolbar>
            <div class="ui-toolbar-group-left">
              <span *ngIf="noMatchedConcepts">
                <i class="fa fa-info-circle"></i>&nbsp;&nbsp;No concepts found that matched the above criteria.
              </span>
              <span *ngIf="loadedMultipleConcept">
                <i class="fa fa-info-circle"></i>&nbsp;&nbsp;{{title}}
              </span>
              <span *ngIf="!noMatchedConcepts && !loadedMultipleConcept">
                <i class="fa fa-info-circle"></i>&nbsp;&nbsp;Searching...
              </span>
            </div>
            <div *ngIf="loadedMultipleConcept" class="ui-toolbar-group-right">

              <!--<p-toggleButton [(ngModel)]="columnMore" (onChange)="setDefaultColumns()" onLabel="Show Highlights"
                offLabel="Hide Highlights" onIcon="pi pi-times" offIcon="pi pi-check"></p-toggleButton>-->
              <p-multiSelect [showToggleAll]="false" dropdownIcon="pi pi-caret-down" [options]="multiSelectCols"
                [(ngModel)]="selectedColumns" name="columnNames" defaultLabel="Search Result Details" [filter]="false"
                (onChange)="setColumns()" [displaySelectedLabel]="false" [style]="{minWidth: '200px'}">
              </p-multiSelect>

            </div>
          </p-toolbar>
        </div>
      </div>


      <div *ngIf="loadedMultipleConcept && !noMatchedConcepts">
        <div class="row" style="margin-bottom:10px;padding-top:5px;">
          <div class="col-sm-12">

            <p-table #dtSearch [columns]="displayColumns" [value]="reportData" [paginator]="true"
              [rowsPerPageOptions]="[10, 20, 50, 100]" pageLinkSize="3" [rows]="pageSize" [scrollable]="true"
              dataKey="column1" [reorderableColumns]="true" [totalRecords]="totalRecords" paginatorPosition="both"
              [lazy]="true" (onLazyLoad)="loadDataLazily($event)">


              <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                  <!--<col style="width: 1.8em">-->
                  <col *ngFor="let col of columns" [style.width]="col.width">
                </colgroup>
              </ng-template>
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <!--<th style="width: 1.8em"></th>-->
                  <!-- keeping because specific use case -->
                  <th *ngFor="let col of columns">
                    <span *ngIf='col.header=="Preferred Name" && selectedTerminology.terminology == "ncit"'>NCIt
                    </span>
                    <span *ngIf='col.header=="Synonyms"'>Source </span>
                    {{col.header}}
                  </th>
                </tr>

              </ng-template>
              <ng-template pTemplate="body" let-rowData let-columns="columns">

                <tr [pSelectableRow]="rowData">
                  <!--<td style="width: 1.8em">
                    <a href="#" *ngIf="columns.length > 0 && rowData.highlight.length != 0" [pRowToggler]="rowData">
                      <i [ngClass]="rowData.expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
                        pTooltip="Click to show/hide highlights" (click)="rowData.expanded=!rowData.expanded"></i>
                    </a>
                  </td>-->
                  <td *ngFor="let col of columns;let idx=index" [ngSwitch]="col && col.header">
                    <span *ngSwitchCase="'Highlights'">
                      <a href="#" *ngIf="columns.length > 0 && rowData.highlight.length != 0" [pRowToggler]="rowData">
                        <i [ngClass]="rowData.expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
                          pTooltip="Click to show/hide highlights" (click)="rowData.expanded=!rowData.expanded"></i>
                      </a>
                    </span>
                    <span *ngSwitchCase="'Terminology'">
                      <a target="_top" class="ml3" [routerLink]="['/welcome']"
                        [queryParams]="{terminology: rowData['termShorthand']}">{{rowData['terminology']}}</a>
                    </span>
                    <span pTooltip="Open concept details" *ngSwitchCase="'Code'">
                      <!--<a target="_top"
                        [routerLink]="['/concept/', selectedTerminology.terminology, rowData['column1'] ]"
                        [queryParams]="getSelectedSourcesQueryParam()">
                         <i class="fa fa-external-link"></i>
                      </a>-->
                      <a target="_top" class="ml3"
                        [routerLink]="['/concept', selectedTerminology.terminology, rowData['column1'] ]"
                        [queryParams]="getSelectedSourcesQueryParam()">{{rowData[col.field]}}<span
                          *ngIf="rowData.retiredConcept === 'yes'">
                          (Retired Concept)</span></a>
                    </span>
                    <span pTooltip="Open concept details" *ngSwitchCase="'CUI'">
                      <a target="_top" class="ml3"
                        [routerLink]="['/concept', selectedTerminology.terminology, rowData['column1'] ]"
                        [queryParams]="getSelectedSourcesQueryParam()">{{rowData[col.field]}}</a>
                    </span>
                    <span *ngSwitchCase="'Preferred Name'"><span [innerHTML]="rowData['displayName']"></span>
                    </span>
                    <span *ngSwitchCase="'Synonyms'"><span [innerHTML]="rowData['synValue']"></span>
                      <span *ngIf="rowData['synValue'] == rowData['collapsedSynonyms']">
                        &nbsp;...
                        <button class="link" (click)="rowData['synValue'] = rowData['expandedSynonyms']">[
                          More
                          ]</button>
                      </span>
                      <span *ngIf="rowData['synValue'] == rowData['expandedSynonyms']">
                        &nbsp;...
                        <button class="link" (click)="rowData['synValue'] = rowData['collapsedSynonyms']">[
                          Less
                          ]</button>
                      </span>
                    </span>
                    <span *ngSwitchCase="'Definitions'"><span [innerHTML]="rowData['defValue']"></span>
                      <span *ngIf="rowData['defValue'] == rowData['collapsedDefinitions']">
                        &nbsp;...
                        <button class="link" (click)="rowData['defValue'] = rowData['expandedDefinitions']">[
                          More
                          ]</button>
                      </span>
                      <span *ngIf="rowData['defValue'] == rowData['expandedDefinitions']">
                        &nbsp;...
                        <button class="link" (click)="rowData['defValue'] = rowData['collapsedDefinitions']">[
                          Less
                          ]</button>
                      </span>
                    </span>
                    <span *ngSwitchCase="'Semantic Type'" [innerHTML]="rowData['semanticType']"></span>
                    <!-- <span *ngSwitchCase="'Label'"><a href="javascript:void(0)"
                        (click)="onSelectConceptCode(rowData['column1'])">{{rowData[col.field]}}</a></span>-->
                    <!--  <div *ngSwitchCase="'Maps_To'" [innerHTML]="rowData[col.field] | transformDisplay:'Maps_To'"></div>-->
                    <span *ngSwitchDefault [innerHTML]="rowData[col.field]"></span>
                  </td>
                </tr>
                <tr>
                  <td *ngIf="rowData.expanded && columns[0] && columns[0].header == 'Highlights'"
                    [attr.colspan]="columns.length">
                    <div class="col-md-12 text-justify">
                      <span class="text-justify" [innerHTML]="rowData.highlight"></span>
                    </div>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="paginatorright" let-state style="padding-top:4em;">
                <div class="paginator-stats">Showing {{state.first + 1}} to
                  {{(state.first + state.rows) >
                  state.totalRecords?state.totalRecords:state.first +
                  state.rows}} of
                  {{state.totalRecords}}</div>
              </ng-template>
            </p-table>

          </div>
        </div>
      </div>

    </div>

  </div>

  <app-welcome *ngIf="welcomePage"></app-welcome>
</div>