<header id="header-top" *ngIf="!this.configService.getHierarchyPopupStatus()" class="push" role="banner">
  <div id="nvcgSlSiteBanner" class="row header-row">
    <div class="slot-item only-SI nci-logo-pages large-12 columns">
      <a href="/"><img src="assets/images/EVSLogo.png" alt="National Cancer Institute" class="header-img" /></a>
    </div>
  </div>
</header>
<nav *ngIf="!this.configService.getHierarchyPopupStatus()" class="navbar navbar-expand-md navbar-dark nciHeader">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#nciCollapse"
    aria-controls="navbarCollapse"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div *ngIf="terminology" id="nciCollapse">
    <ul class="menu nav-menu nav-item-title">
      <li class="nav-item">
        <a
          *ngIf="!this.configService.getMultiSearch()"
          class="nav-link nav-link-list"
          [routerLink]="['/welcome']"
          [queryParams]="{ terminology: this.configService.getTerminologyName() }"
          title="Home"
          ><i class="fa fa-home"></i>
          Home
        </a>
        <a
          *ngIf="this.configService.getMultiSearch() && !displayMultiSearchTerms()"
          class="nav-link nav-link-list"
          [routerLink]="['/welcome']"
          [queryParams]="{ terminology: 'multi' }"
          title="Home"
          ><i class="fa fa-home"></i>
          Home
        </a>
        <a
          *ngIf="this.configService.getMultiSearch() && displayMultiSearchTerms()"
          class="nav-link nav-link-list"
          [routerLink]="['/welcome']"
          [queryParams]="{ terminology: this.getMultiSearchTermsUrl() }"
          title="Home"
          ><i class="fa fa-home"></i>
          Home
        </a>
      </li>
      <li *ngIf="showTerminologyInfo && notMultiSearch()" class="nav-item version-info">
        <span class="nav-link-list">{{ versionInfo }}</span>
      </li>
      <li *ngIf="displayMultiSearchTerms()" class="nav-item version-info" style="max-width: 30em">
        <span class="nav-link-list" id="truncateTermList"> Terminologies: {{ getMultiSearchTerms() }}</span>
      </li>

      <li class="nav-item" *ngIf="getTerminologySubset() && notMultiSearch()">
        <a class="nav-link nav-link-list" [routerLink]="['/subsets', terminology?.terminology]" title="Display Subsets">Subsets</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-list" [routerLink]="['/mappings']" title="Display Mappings">Mappings</a>
      </li>
      <li class="nav-item" *ngIf="getTerminologyHierarchy() && firstRoot != null && notMultiSearch()">
        <a class="nav-link nav-link-list" [routerLink]="['/hierarchy', terminology?.terminology, firstRoot]" title="Display Concept Hierarchy"
          >Hierarchy</a
        >
      </li>
      <li class="nav-item dropdown" *ngIf="notMultiSearch()">
        <a
          class="nav-link nav-link-list dropdown-toggle"
          href="#"
          id="documentationMenu"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          title="Display Documentation"
          >Documentation</a
        >
        <div class="dropdown-menu dropdown-menu-right dropdown-links" aria-labelledby="helpMenu">
          <a class="dropdown-item dropdown-links" [routerLink]="['/associations', terminology?.terminology]" title="List of Associations"
            >Associations</a
          >
          <a class="dropdown-item dropdown-links" [routerLink]="['/properties', terminology?.terminology]" title="List of Properties">Properties</a>
          <a class="dropdown-item dropdown-links" [routerLink]="['/qualifiers', terminology?.terminology]" title="List of Qualifiers">Qualifiers</a>
          <a class="dropdown-item dropdown-links" [routerLink]="['/roles', terminology?.terminology]" title="List of Roles">Roles</a>
          <a class="dropdown-item dropdown-links" [routerLink]="['/termtypes', terminology?.terminology]" title="List of Term Types">Term Types</a>
          <a class="dropdown-item dropdown-links" [routerLink]="['/sources', terminology?.terminology]" title="List of Sources">Sources</a>
          <a class="dropdown-item dropdown-links" [routerLink]="['/definitiontypes', terminology?.terminology]" title="List of Definition Types"
            >Definition Types</a
          >
          <a class="dropdown-item dropdown-links" [routerLink]="['/synonymtypes', terminology?.terminology]" title="List of Synonym Types"
            >Synonym Types</a
          >
          <div class="dropdown-divider"></div>
          <a class="dropdown-item dropdown-links" [routerLink]="['/alldocs', terminology?.terminology]" title="List of All Metadata Tables"
            >All Metadata</a
          >
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-list" [routerLink]="['/overview']" title="Help">Help</a>
      </li>
    </ul>
  </div>
</nav>
<p class="eonotice">
  <b
    >The EVS website hosts biomedical terminologies that NCI does not own or control. Some of these sources may contain gender-related terminology
    that does not comply with Executive Order 14168</b
  >
</p>
