<nav class="navbar navbar-expand-md navbar-dark fixed-top nciHeader">
  <a class="navbar-brand active" href="https://www.cancer.gov/" target="_blank">NATIONAL CANCER INSTITUTE - CANCER.GOV </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nciCollapse"
    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
   </button>
  <div class="collapse navbar-collapse" id="nciCollapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
            <a class="nav-link"
              href="https://www.cancer.gov/about-cancer"
              target="_blank">About Cancer
            </a>
      </li>
      <li class="nav-item">
            <a class="nav-link"
              href="https://www.cancer.gov/research"
              target="_blank">Research
            </a>
      </li>
      <li class="nav-item">
            <a class="nav-link"
              href="https://www.cancer.gov/grants-training"
              target="_blank">Grants & Training
            </a>
      </li>
      <li class="nav-item">
            <a class="nav-link"
              href="https://www.cancer.gov/news-events"
              target="_blank">News & Events
            </a>
      </li>
      <li class="nav-item">
            <a class="nav-link"
              href="https://www.cancer.gov/about-nci"
              target="_blank">About NCI
            </a>
      </li>
    </ul>
  </div>
</nav>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark sharedDataApplicationHeader">
   <a class="navbar-brand active" routerLink="/search"><i class="fa fa-home"></i> </a>

  <a class="navbar-brand active" routerLink="/search">
    <img class="main-site-logo" src="assets/images/header/NCItTile.jpg" />
    <span>NCI Term Browser
    </span>
    <span style=" font-size: 0.575rem;">{{versionInfo}}
    </span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" 
        href="https://ncit.nci.nih.gov/ncitbrowser/ajax?action=create_src_vs_tree&nav_type=valuesets&mode=0"
        target="_blank">Value Sets</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://ncit.nci.nih.gov/ncitbrowser/pages/mapping_search.jsf?nav_type=mappings&b=0&m=0"
        target="_blank">Mappings</a>
      </li>
      <!--
      <li class="nav-item">
        <a class="nav-link" routerLink="conceptlist">Concept List</a>
      </li>
      -->
      <li class="nav-item">
        <a class="nav-link" routerLink="hierarchy/C12913">Hierarchy</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="documentationMenu" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Documentation</a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="helpMenu">
          <a class="dropdown-item" routerLink="associations">Associations</a>
          <a class="dropdown-item" routerLink="properties">Properties</a>
          <a class="dropdown-item" routerLink="roles">Roles</a>
          <a class="dropdown-item" routerLink="termtypes">Term Types</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="helpMenu" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Help</a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="helpMenu">
          <a class="dropdown-item" href="https://ncit.nci.nih.gov/ncitbrowser/pages/help.jsf#" target="_blank">Overview</a>
        </div>
      </li>


    </ul>
  </div>
</nav>