<nav class="navbar navbar-expand-md navbar-dark fixed-top nciHeader">
  <a class="navbar-brand active" href="https://www.cancer.gov/" target="_blank">NATIONAL CANCER INSTITUTE - CANCER.GOV
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nciCollapse"
    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="nciCollapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="https://www.cancer.gov/about-cancer" target="_blank">About Cancer
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.cancer.gov/research" target="_blank">Research
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.cancer.gov/grants-training" target="_blank">Grants & Training
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.cancer.gov/news-events" target="_blank">News & Events
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.cancer.gov/about-nci" target="_blank">About NCI
        </a>
      </li>
    </ul>
  </div>
</nav>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark sharedDataApplicationHeader">
  <a class="navbar-brand active" routerLink="/welcome"><i class="fa fa-home"></i> </a>

  <a class="navbar-brand active" routerLink="/welcome">
    <img class="main-site-logo" src="assets/images/EVSTile.png" />
    <span>EVS Explore
    </span>
    <span style=" font-size: 0.575rem;">{{getVersionInfo()}}
    </span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" *ngIf="getTerminologyName() != 'ncim'">
        <a class="nav-link" routerLink="subsets" title="Display Subsets">Subsets</a>
      </li>
      <!--
      <li class="nav-item">
        <a class="nav-link" routerLink="mappings" title="Display Mappings">Mappings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="conceptlist">Concept List</a>
      </li>
      -->
      <li class="nav-item" *ngIf="getTerminologyName() != 'ncim'">
        <a class="nav-link" routerLink="hierarchy/C12913" title="Display Concept Hierarchy">Hierarchy</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="documentationMenu" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false" title="Display Documentation">Documentation</a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="helpMenu">
          <a class="dropdown-item" routerLink="associations" title="List of NCIt Associations">Associations</a>
          <a class="dropdown-item" routerLink="properties" title="List of NCIt Properties">Properties</a>
          <a class="dropdown-item" routerLink="qualifiers" title="List of NCIt Qualifiers">Qualifiers</a>
          <a class="dropdown-item" routerLink="roles" title="List of NCIt Roles">Roles</a>
          <a class="dropdown-item" routerLink="termtypes" title="List of NCIt Term Types">Term Types</a>
          <a class="dropdown-item" routerLink="sources" title="List of NCIt Sources">Sources</a>
          <a class="dropdown-item" routerLink="definitiontypes" title="List of NCIt Definition Types">Definition Types</a>
          <a class="dropdown-item" routerLink="synonymtypes" title="List of NCIt Synonym Types">Synonym Types</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="alldocs" title="List of All NCIt Metadata Tables">All Metadata</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="overview" title="Help">Help</a>
      </li>
      <!--
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="helpMenu" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false" title="Display Help Menu">Help</a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="helpMenu">
          <a class="dropdown-item" routerLink="overview" title="Overview of EVS Explore">Overview</a>
        </div>
      </li>-->

    </ul>
  </div>
</nav>
