<div *ngIf="usedSubsetList">
  <p-panel [toggleable]="true">
    <p-header class="bold-heading">
      Subset of {{ titleCode }}
    </p-header>
    <div class="table-responsive">
      <p-table [value]="usedSubsetList" [rows]="pageSize" [totalRecords]="hitsFound"
               [paginator]="true" paginatorPosition="both" [rowsPerPageOptions]="[10, 20, 50, 100]"
               [lazy]="true" (onLazyLoad)="onLazyLoadData($event)" class="table table-striped table-bordered">
        <ng-template pTemplate="header">
          <tr>
            <th class="w-20">Code</th>
            <th class="w-80">Name</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-subset>
          <tr>
            <td class="w-20">{{ subset.code }}</td>
            <td class="w-80">{{ subset.name }}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="paginatorright" let-state style="padding-top:4em;">
          <div class="paginator-stats">Showing {{state.first + 1}} to
            {{(state.first + state.rows) > state.totalRecords?state.totalRecords:state.first + state.rows}} of
            {{state.totalRecords}}</div>
        </ng-template>
      </p-table>
    </div>
  </p-panel>
</div>
