em {
  background-color: lightyellow;
}

.radio-padding {
  padding-right: 0.2rem !important;
}

/*toolbar*/

.custom-toolbar {
  padding: .25em .5em;
  max-height: 35px;
}

.custom-toolbar.ui-toolbar {
  border: 0px;
  padding: .50em 0em;
  background: none !important;
}

.shared-logo-box {
  padding: 6px;
  box-shadow: 0 1px 12px 0 #ecf2f8;
  border: 2px solid #ecf2f8;
  border-radius: 3px;
}

.announcements-header {
  color: #337ab7!important;
  font-size: 14px!important;
  padding-bottom: 0px;
  border-bottom: 1px solid #ccc!important;
  margin-bottom: 5px;
  cursor: pointer;
}

.ui-multiselect {
  display: inline-flex;
  position: relative;
  width: auto;
  cursor: pointer;
}

.ui-button {
  color: #fff;
  background-color: #2399e5;
  border: 1px solid #2399e5;
  padding-bottom: 1px;
  margin-left: 2px;
  margin-right: 2px;
}

.w-20 {
  width: 20% !important;
}

.w-80 {
  width: 80% !important;
}
