<div *ngIf="usedSubsetList">
  <p-panel [toggleable]="true">
    <p>View value sets organized by standards category or source terminology. Standards categories group the value sets supporting them; all other labels lead to the home pages of actual value sets or source terminologies. Search or browse a value set from its home page, or search all value sets at once from this page (very slow) to find which ones contain a particular code or term. Many of these value sets are subsets of NCI Thesaurus that are developed jointly with EVS partners as federal and international coding standards.</p>
    <p-header class="bold-heading">
      Subset of {{ titleCode }} - {{titleDesc}}<span style="float:right"><button routerLink="/search" label="Back to Search" pButton type="button"></button></span>
    </p-header>
    <div class="table-responsive">
      <p-table [value]="usedSubsetList" [rows]="pageSize" [totalRecords]="hitsFound"
               [paginator]="true" paginatorPosition="both" [rowsPerPageOptions]="[10, 20, 50, 100]"
               [lazy]="true" (onLazyLoad)="onLazyLoadData($event)" class="table table-striped table-bordered">
        <ng-template pTemplate="header">
          <tr>
            <th class="w-20">Code</th>
            <th class="w-80">Name</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-subset>
          <tr>
            <td class="w-20">{{ subset.code }}</td>
            <td class="w-80"><a [routerLink]="[urlBase, subset.code ]" target='urlTarget'>{{ subset.name }}</a></td>
          </tr>
        </ng-template>
        <ng-template pTemplate="paginatorright" let-state style="padding-top:4em;">
          <div class="paginator-stats">Showing {{state.first + 1}} to
            {{(state.first + state.rows) > state.totalRecords?state.totalRecords:state.first + state.rows}} of
            {{state.totalRecords}}</div>
        </ng-template>
      </p-table>
    </div>
  </p-panel>
</div>
