<div id="hierarchyTableDisplay" style="height: 800px; width: 100%;">
  <as-split [direction]="direction">
    <as-split-area [size]="hierarchyPanelSize">
      <div class="hierarchy-div">
        <div class="page-header p-coloring">
          Concept Hierarchy
          <span style="float:right; margin-right: 10px" class="fa fa-compress pointer" title="Pop-in hierarchy view"
                (click)="closeHierarchyPopup()"></span>
        </div>
          <!-- Only show this section if tree positions (node['ct']) is present -->
          <div *ngIf="totalPositions != 0" class="table-info text-body">
            <span style="margin-left:5px">{{displayedPositions}} / {{totalPositions}} tree positions
              <a href="#" (click)="loadAllPositions($event)">Load All</a>
            </span>
          </div>
        <p-treeTable #hierarchyTable [value]="hierarchyData" selectionMode="single" dataKey="code"
          [(selection)]="selectedNode" [scrollable]="true" scrollHeight="800px"
          (onNodeExpand)="treeTableNodeExpand($event)" (onNodeCollapse)="treeTableNodeCollapse($event)"
          (onNodeSelect)="treeTableNodeSelected(selectedNode)">
          <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
            <tr [ttRow]="rowNode" [ttSelectableRow]="rowNode" [ngClass]="{'treenode-highlight': rowData.highlight}">
              <td>
                <div style="cursor: pointer; display:flex;">
                  <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                  {{rowData.label}}
                </div>
              </td>
            </tr>
          </ng-template>
        </p-treeTable>
      </div>
    </as-split-area>
  </as-split>
</div>
