.treenode-highlight {
  color: #FFFFFF!important;
  background-color: #186ba0!important
}

.treenode {
  color: black;
}

.customtabview .ui-panel-titlebar {
  background: #000000
}

.page-header {
  padding-bottom: 0.5em;
}

#expandOrCollapseButton {
  width: 95px;
  height: 28.4px
}
