<div id="hierarchyTableDisplay" style="height: 800px; width: 100%;">
  <as-split [direction]="direction">
    <as-split-area [size]="subsetPanelSize">
      <div class="hierarchy-div">
        <div class="page-header">
          Subset Hierarchy
          <button label="Expand All" (click)="expandOrCollapseAllNodes(hierarchyData, $event.target)" pButton
              type="button"></button>
          <span style="float:right"><button routerLink="/search" label="Back to Search" pButton
              type="button"></button></span>
        </div>
        <p-treeTable #hierarchyTable [value]="hierarchyData" selectionMode="single" dataKey="code"
          [(selection)]="selectedNode" [scrollable]="true" scrollHeight="800px"
          (onNodeExpand)="treeTableNodeExpand($event)" (onNodeCollapse)="treeTableNodeCollapse($event)"
          (onNodeSelect)="treeTableNodeSelected(selectedNode)">
          <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
            <tr [ttRow]="rowNode" [ttSelectableRow]="rowNode" [ngClass]="{'treenode-highlight': rowData.highlight}">
              <td>
                <div style="cursor: pointer; display:flex; font-size:medium; padding:0.1em">
                  <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                  {{rowData.label}}
                </div>
              </td>
            </tr>
          </ng-template>
        </p-treeTable>
      </div>
    </as-split-area>
  </as-split>
</div>
