<div class="row" style="padding-top: 4px;padding-bottom: 6px;">

  <div class="col-md-12 p-0">
    <div class="custom-welcome">
      <div class="row">
        <div class="col-md-12">
          <div class="welcome-title">
            Welcome
          </div>
        </div>
      </div>

      <div class="row" style="padding-top: 4px;">
        <div class="col-md-8">

          <!-- HHS Banner Template -->
          <ng-template #content let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Notice</h4>
            </div>
            <div class="modal-body">
              <p> You are accessing a US Government website which may contain information that must be protected
                under
                the US Privacy Act or other sensitive information and is intended for Government authorized use only.
              </p>
              <p> Unauthorized attempts to upload information, change information, or use of this website may result
                in disciplinary action, civil, and/or criminal penalties. Unauthorized users of this website should have
                no expectation of privacy regarding any communications or data processed by this website.</p>
              <p>Anyone accessing this website expressly consents to monitoring of their actions and all
                communications
                or data transiting or stored on related to this website and is advised that if such monitoring reveals
                possible evidence of criminal activity, NIH may provide that evidence to law enforcement officials.</p>
            </div>
            <div class="modal-footer">
              <form action="" (submit)="modal.close()" method="POST">
                <button autofocus class="btn btn-sm btn-primary" type="submit">Accept</button>
              </form>
            </div>
          </ng-template>
          <p *ngIf="getTerminology() == 'ncit'">
            NCI Thesaurus (NCIt) provides reference terminology for many
            NCI and other systems. It covers vocabulary for clinical care,
            translational and basic research, and public information and
            administrative activities.
          </p>
          <p *ngIf="getTerminology() == 'ncim'">
            NCI Metathesaurus (NCIm) is a wide-ranging biomedical terminology database that covers most terminologies used by NCI
            for clinical care, translational and basic research, and public information and administrative activities.
          </p>
          <br>
          <div *ngIf="getTerminology() == 'ncit'" class="welcome-title-small">
            NCIt features:
          </div>
          <div *ngIf="getTerminology() == 'ncim'" class="welcome-title-small">
            NCIm features:
          </div>
          <ul *ngIf="getTerminology() == 'ncit'">
            <li>
              Stable, unique codes for biomedical concepts.
            </li>
            <li>
              Preferred terms, synonyms, research codes, external source codes, and other information.
            </li>
            <li>
              Over 100,000 textual definitions.
            </li>
            <li>
              Over 400,000 cross-links between concepts, providing formal logic-based definition of many concepts.
            </li>
            <li>
              Extensive content integrated from NCI and other partners, much available as separate NCIt <a
                href={{getSubsetLink()}} target="_blank">subsets</a>
            </li>
            <li>
              Updated frequently by a team of subject matter experts.
            </li>
          </ul>
          <ul *ngIf="getTerminology() == 'ncim'">
            <li>Maps 8,000,000 terms from more than 100 sources into 3,600,000 biomedical concepts that represent their meaning.</li>
            <li>Displays preferred terms, synonyms, definitions, and other information from each source.</li>
            <li>More than 24,000,000 cross-links between content elements.</li>
            <li>Updated frequently by a team of biomedical terminology and subject matter experts.</li>
          </ul>

          <p *ngIf="getTerminology() == 'ncit'">
            NCIt is a widely recognized standard for biomedical coding and reference, used by a broad variety of public
            and private partners both nationally
            and internationally including the Clinical Data Interchange Standards Consortium Terminology (CDISC), the
            U.S. Food and Drug Administration (FDA),
            the Federal Medication Terminologies (FMT), and the National Council for Prescription Drug Programs (NCPDP).
          </p>
          <p *ngIf="getTerminology() == 'ncim'">
            NCIm contains most public domain terminologies from the National Library of Medicine's <a href="http://www.nlm.nih.gov/research/umls/index.html" target="_blank" alt="UMLS Metathesaurus">UMLS Metathesaurus</a>, as well as many other biomedical terminologies created by or of interest to NCI and its partners. Some proprietary terminologies are included, with permission, and have restrictions on their use (see <a href="http://ncim.nci.nih.gov/ncimbrowser/pages/source_help_info.jsf" target="_blank" alt="details">details</a>). The current version of the NCI Metathesaurus, based on the UMLS build <a href="https://wiki.nci.nih.gov/display/EVS/NCI+Metathesaurus+Changes+Over+Time" target="_blank" alt="2021AA">2021AA</a>, covers up to National Cancer Institute Thesaurus, 21.06e.
          </p>

          <!--
          <p>
            Source Home Page:
            <a href="https://ncit.nci.nih.gov" target="_blank">https://ncit.nci.nih.gov</a>
          </p>
          -->

          <p *ngIf="getTerminology() == 'ncit'">
            Term Suggestion Form:
            <a href="https://ncitermform.nci.nih.gov/ncitermform/?dictionary=NCI"
              target="_blank">https://ncitermform.nci.nih.gov/ncitermform/?dictionary=NCI</a>
          </p>

          <p *ngIf="getTerminology() == 'ncit'">
            Download:
            <a href="http://evs.nci.nih.gov/ftp1/NCI_Thesaurus"
              target="_blank">http://evs.nci.nih.gov/ftp1/NCI_Thesaurus</a>
          </p>

          <p *ngIf="getTerminology() == 'ncit'">
            More Information:
            <a href="https://wiki.nci.nih.gov/x/lAVy" target="_blank">
              https://wiki.nci.nih.gov/x/lAVy
            </a>
          </p>

          <p *ngIf="getTerminology() == 'ncit'">
            NCIt Terms of Service:
            <a href="https://evs.nci.nih.gov/ftp1/NCI_Thesaurus/ThesaurusTermsofUse.htm" target="_blank">
              https://evs.nci.nih.gov/ftp1/NCI_Thesaurus/ThesaurusTermsofUse.htm
            </a>
          </p>

        </div>
        <div class="col-md-4">
          <table>
            <tbody>
              <tr valign="top">
                <td>
                  <a href="http://evs.nci.nih.gov/" target="_blank" alt="EVS">
                    <img src="assets/images/EVSTile.png" width="77" height="38px" alt="EVS" border="0" />
                  </a>
                </td>
                <td width="3px;"></td>
                <td class="textbody" valign="top">
                  <a href="http://evs.nci.nih.gov/" target="_blank" alt="EVS">NCI Enterprise Vocabulary Services</a>:
                  Terminology resources and services for NCI and the biomedical community.
                </td>
              </tr>
              <!--
              <tr valign="top">
                <td>
                  <a href="https://ncim.nci.nih.gov/ncimbrowser" target="_blank" alt="NCIm">
                    <img src="assets/images/NCImTile.png" width="77" height="38px" alt="NCIm" border="0" />
                  </a>
                </td>
                <td width="3px;"></td>
                <td class="textbody" valign="top">
                  <a href="https://ncim.nci.nih.gov/ncimbrowser" target="_blank" alt="NCIm">NCI Metathesaurus</a>:
                  Comprehensive database of 6,700,000 terms from over 85 terminologies.
                </td>

              </tr>
              <tr valign="top">
                <td>
                  <a href="https://ncit.nci.nih.gov/ncitbrowser/" alt="NCI Term Browser">
                    <img src="assets/images/EVSTermsBrowserTile.png" width="77" height="38px" alt="NCI Term Browser"
                      border="0" />
                  </a>
                </td>
                <td width="3px;"></td>
                <td class="textbody" valign="top">
                  <a href="https://ncit.nci.nih.gov/ncitbrowser/" alt="NCI Term Browser">NCI Term Browser</a>:
                  NCI and other terminologies in an integrated environment.
                </td>
              </tr>
              -->
              <tr valign="top">
                <td class="textbody" valign="top">
                  <a href="https://evs.nci.nih.gov/evs-download/metathesaurus-downloads" target="_blank"
                    alt="NCI Metathesaurus">
                    <img src="assets/images/NCImTile.png" alt="NCI Metathesaurus" border="0" />
                  </a>
                </td>
                <td width="3px;"></td>
                <td class="textbody" valign="top">
                  <a href="https://evs.nci.nih.gov/evs-download/metathesaurus-downloads" target="_blank"
                    alt="NCI Metathesaurus">

                    NCI Metathesaurus</a>:
                  Comprehensive database of 6,700,000 terms from over 85 terminologies.
                </td>
              </tr>
              <tr valign="top">
                <td class="textbody" valign="top">
                  <a href="https://evs.nci.nih.gov/evs-download/thesaurus-downloads" target="_blank"
                    alt="NCI Thesaurus">
                    <img src="assets/images/NCItTile.png" alt="NCI Thesaurus" border="0" />
                  </a>
                </td>
                <td width="3px;"></td>
                <td class="textbody" valign="top">
                  <a href="https://evs.nci.nih.gov/evs-download/thesaurus-downloads" target="_blank"
                    alt="NCI Thesaurus">

                    NCI Thesaurus</a>:
                  Reference terminology for NCI, NCI Metathesaurus and NCI informatics infrastructure.
                </td>
              </tr>
              <tr valign="top">
                <td>
                  <a href="https://datascience.cancer.gov/resources/cancer-vocabulary" target="_blank"
                    alt="NCI Terminology Resources">
                    <img src="assets/images/Cancer_govTile.png" alt="NCI Terminology Resources" border="0" />
                  </a>
                </td>
                <td width="3px;"></td>
                <td class="textbody" valign="top">
                  <a href="https://datascience.cancer.gov/resources/cancer-vocabulary" target="_blank"
                    alt="NCI Terminology Resources">

                    NCI Terminology Resources</a>:
                  More information on NCI dictionaries and resources.
                </td>
              </tr>
              <tr valign="top">
                <td>

                </td>
                <td width="3px;"></td>
                <td class="textbody" valign="top">
                  <a href={{getApiURL()}} target="_blank"
                    alt="API">

                    API Demonstration Site</a>:
                  A webpage demonstrating the medical terminology API used here
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
