


  <div class="row" style="padding-top: 4px;padding-bottom: 6px;">
    
    <div class="col-md-12 p-0">
      <div class="custom-welcome">
         <div class="row">
           <div class="col-md-12">
              <div class="welcome-title">
                  Welcome
              </div>
           </div>
         </div>
  
  <div class="row" style="padding-top: 4px;">
    <div class="col-md-8">
      <p>
        NCI Thesaurus (NCIt) provides reference terminology for many
        NCI and other systems. It covers vocabulary for clinical care,
        translational and basic research, and public information and 
        administrative activities. 
      </p>
      <br>
      <div class="welcome-title-small">
        NCit features:
      </div>
      <ul>
        <li>
            Stable, unique codes for biomedical concepts;
        </li>
        <li>
            Preferred terms, synonyms, research codes, external source codes, and other information;
        </li>
        <li>
            Over 100,000 textual definitions;
        </li>
        <li>
            Links to
            <a href="https://ncim.nci.nih.gov/ncimbrowser" target="_blank"
            alt="NCI Metathesaurus">NCI Metathesaurus</a> and other information sources;
        </li>
        <li>
            Over 400,000 cross-links between concepts, providing formal logic-based definition of many concepts;
        </li>
        <li>
            Extensive content integrated from NCI and other partners, much available as separate NCIt <a href="https://ncit.nci.nih.gov/ncitbrowser/pages/subset.jsf" target="_blank">subsets</a>
        </li>
        <li>
            Updated frequently by a team of subject matter experts.
        </li>
      </ul>

      <p>
          NCIt is a widely recognized standard for biomedical coding and reference, used by a broad variety of public and private partners both nationally
          and internationally including the Clinical Data Interchange Standards Consortium Terminology (CDISC), the U.S. Food and Drug Administration (FDA), 
          the Federal Medication Terminologies (FMT), and the National Council for Prescription Drug Programs (NCPDP).  
      </p>

      <p>
          Source Home Page:
          <a href="https://ncit.nci.nih.gov" target="_blank">https://ncit.nci.nih.gov</a>
        </p>
        
        <p>
          Download:
          <a href="http://evs.nci.nih.gov/ftp1/NCI_Thesaurus" target="_blank">http://evs.nci.nih.gov/ftp1/NCI_Thesaurus</a>
        </p>
        
        <p>
          More Information:
          <a href="https://wiki.nci.nih.gov/x/lAVy" target="_blank">
            https://wiki.nci.nih.gov/x/lAVy
          </a>
        </p>

    </div>
    <div class="col-md-4">
      <table>
        <tbody>
          <tr valign="top">
            <td>
              <a href="http://evs.nci.nih.gov/" target="_blank" alt="EVS">
                <img src="assets/images/EVSTile.png" width="77" height="38px" alt="EVS" border="0" />
              </a>
            </td>
            <td width="3px;"></td>
            <td class="textbody" valign="top">
                <a href="http://evs.nci.nih.gov/" target="_blank" alt="EVS">NCI Enterprise Vocabulary Services</a>:
                Terminology resources and services for NCI and the biomedical community.
            </td>
          </tr>
          <tr valign="top">
            <td>
                <a href="https://ncim.nci.nih.gov/ncimbrowser" target="_blank" alt="NCIm">
                  <img src="assets/images/NCImTile.png" width="77" height="38px" alt="NCIm" border="0" />
                </a>
            </td>
            <td width="3px;"></td>
            <td class="textbody" valign="top">
                <a href="https://ncim.nci.nih.gov/ncimbrowser" target="_blank" alt="NCIm">NCI Metathesaurus</a>:
                Comprehensive database of 6,700,000 terms from over 85 terminologies.
              </td>

          </tr>
          <tr valign="top">
            <td>
                <a href="/ncitbrowser/start.jsf" alt="NCI Term Browser">
                  <img
                      src="assets/images/EVSTermsBrowserTile.png"
                      width="77"
                      height="38px"
                      alt="NCI Term Browser"
                      border="0"
                  />
                </a>
            </td>
            <td width="3px;"></td>
            <td class="textbody" valign="top">
                <a href="/ncitbrowser/start.jsf" alt="NCI Term Browser">NCI Term Browser</a>:
                NCI and other terminologies in an integrated environment.
              </td>

          </tr>
          <tr valign="top">
            <td>
              <a
                href="http://www.cancer.gov/cancertopics/terminologyresources/"
                target="_blank"
                alt="NCI Terminology Resources">
              <img src="assets/images/Cancer_govTile.png" alt="NCI Terminology Resources" border="0" />
            </a>
            </td>
            <td width="3px;"></td>
            <td class="textbody" valign="top">
                <a
                    href="http://www.cancer.gov/cancertopics/terminologyresources/"
                    target="_blank"
                    alt="NCI Terminology Resources">

                  NCI Terminology Resources</a>:
                More information on NCI dictionaries and resources.
              </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
 </div>
  </div>
