<div class="row" style="padding-top: 4px;padding-bottom: 6px;">

  <div class="col-md-12 p-0">
    <div class="custom-welcome">
      <div class="row">
        <div class="col-md-12">
          <div class="welcome-title">
            Welcome
          </div>
        </div>
      </div>

      <div class="row" style="padding-top: 4px;">
        <div class="col-md-8">

          <!-- HHS Banner Template -->
          <ng-template #content let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Notice</h4>
            </div>
            <div class="modal-body">
              <p> You are accessing a US Government website which may contain
                information that must
                be protected
                under
                the US Privacy Act or other sensitive information and is intended
                for Government
                authorized use only.
              </p>
              <p> Unauthorized attempts to upload information, change information, or
                use of this
                website may result
                in disciplinary action, civil, and/or criminal penalties.
                Unauthorized users of this
                website should have
                no expectation of privacy regarding any communications or data
                processed by this
                website.</p>
              <p>Anyone accessing this website expressly consents to monitoring of
                their actions and
                all
                communications
                or data transiting or stored on related to this website and is
                advised that if such
                monitoring reveals
                possible evidence of criminal activity, NIH may provide that
                evidence to law
                enforcement officials.</p>
            </div>
            <div class="modal-footer">
              <form action="" (submit)="modal.close()" method="POST">
                <button autofocus class="btn btn-sm btn-primary" type="submit">Accept</button>
              </form>
            </div>
          </ng-template>
          <div *ngIf="configService.getMultiSearch() == true else singleSearch">
            <p>Select NCI hosted terminologies to search, or click on a source name to go to its browser home page</p>
            <div *ngFor="let term of allTerminologies">
              <label>
                <input type="checkbox" [(ngModel)]="checkedTerminologies" [ngModelOptions]="{standalone: true}"
                  (change)="onCheckboxChange(term)">
                <a [routerLink]="['/welcome']" [queryParams]="{terminology: term.value.terminology}">{{ term.label
                  }}</a>: {{
                term.description }} <b>Version {{ term.value.version }}</b>
              </label>
            </div>
          </div>
          <ng-template #singleSearch>
            <div id="welcomeTextDiv" [innerHTML]="welcomeText"></div>
          </ng-template>
          <div *ngIf="!welcomeText" [innerHTML]="boilerPlateWelcomeText"></div>
        </div>
        <div class="col-md-4">
          <table>
            <tbody>
              <tr valign="top">
                <td>
                  <a href="https://evs.nci.nih.gov/" target="_blank" alt="EVS" class="regular-link">
                    <img src="assets/images/EVSTile.png" width="77" height="38px" alt="EVS" border="0" />
                  </a>
                </td>
                <td width="3px;"></td>
                <td class="textbody" valign="top">
                  <a href="https://evs.nci.nih.gov/" target="_blank" alt="EVS" class="regular-link">NCI Enterprise
                    Vocabulary Services</a>:
                  Terminology resources and services for NCI and the biomedical
                  community.
                </td>
              </tr>
              <!--
              <tr valign="top">
                <td>
                  <a href="https://ncim.nci.nih.gov/ncimbrowser" target="_blank" alt="NCIm">
                    <img src="assets/images/NCImTile.png" width="77" height="38px" alt="NCIm" border="0" />
                  </a>
                </td>
                <td width="3px;"></td>
                <td class="textbody" valign="top">
                  <a href="https://ncim.nci.nih.gov/ncimbrowser" target="_blank" alt="NCIm">NCI Metathesaurus</a>:
                  Comprehensive database of 6,700,000 terms from over 85 terminologies.
                </td>

              </tr>
              <tr valign="top">
                <td>
                  <a href="https://ncit.nci.nih.gov/ncitbrowser/" alt="NCI Term Browser">
                    <img src="assets/images/EVSTermsBrowserTile.png" width="77" height="38px" alt="NCI Term Browser"
                      border="0" />
                  </a>
                </td>
                <td width="3px;"></td>
                <td class="textbody" valign="top">
                  <a href="https://ncit.nci.nih.gov/ncitbrowser/" alt="NCI Term Browser">NCI Term Browser</a>:
                  NCI and other terminologies in an integrated environment.
                </td>
              </tr>
              -->
              <tr valign="top">
                <td class="textbody" valign="top">
                  <a href="https://evs.nci.nih.gov/evs-download/metathesaurus-downloads" target="_blank"
                    alt="NCI Metathesaurus" class="regular-link">
                    <img src="assets/images/NCImTile.png" alt="NCI Metathesaurus" border="0" />
                  </a>
                </td>
                <td width="3px;"></td>
                <td class="textbody" valign="top">
                  <a href="https://evs.nci.nih.gov/evs-download/metathesaurus-downloads" target="_blank"
                    alt="NCI Metathesaurus" class="regular-link">

                    NCI Metathesaurus</a>:
                  Comprehensive database of 8,000,000 terms from over 100 terminologies.
                </td>
              </tr>
              <tr valign="top">
                <td class="textbody" valign="top">
                  <a href="https://evs.nci.nih.gov/evs-download/thesaurus-downloads" target="_blank" alt="NCI Thesaurus"
                    class="regular-link">
                    <img src="assets/images/NCItTile.png" alt="NCI Thesaurus" border="0" />
                  </a>
                </td>
                <td width="3px;"></td>
                <td class="textbody" valign="top">
                  <a href="https://evs.nci.nih.gov/evs-download/thesaurus-downloads" target="_blank" alt="NCI Thesaurus"
                    class="regular-link">

                    NCI Thesaurus</a>:
                  Reference terminology for NCI, NCI Metathesaurus and NCI
                  informatics
                  infrastructure.
                </td>
              </tr>
              <tr valign="top">
                <td>
                  <a href="https://datascience.cancer.gov/resources/cancer-vocabulary" target="_blank"
                    alt="NCI Terminology Resources" class="regular-link">
                    <img src="assets/images/Cancer_govTile.png" alt="NCI Terminology Resources" border="0" />
                  </a>
                </td>
                <td width="3px;"></td>
                <td class="textbody" valign="top">
                  <a href="https://datascience.cancer.gov/resources/cancer-vocabulary" target="_blank"
                    alt="NCI Terminology Resources" class="regular-link">

                    NCI Terminology Resources</a>:
                  More information on NCI dictionaries and resources.
                </td>
              </tr>
              <tr valign="top">
                <td>
                  <a [routerLink]="['/evsapi']" alt="Swagger API Documentation">
                    <img src="assets/images/swagger.png" alt="Swagger API Documentation" border="0" width="38"
                      height="38" />
                  </a>
                </td>
                <td width="3px;"></td>
                <td class="textbody" valign="top">
                  <a [routerLink]="['/evsapi']" alt="Swagger API Documentation" class="regular-link">
                    Swagger API Documentation</a>:
                  View documentation for the EVS REST API providing data to this
                  application.

                  Also, see the <a href="https://github.com/NCIEVS/evsrestapi-client-SDK" target="_blank"
                    class="regular-link">
                    evsrestapi-client-SDK</a> project for code examples for
                  interacting with the
                  API.
                </td>
              </tr>
            </tbody>
          </table>
          <br />
        </div>
      </div>
    </div>
  </div>
</div>