<!-- EVS Header -->
<app-evs-header></app-evs-header>

<!-- Notifications display -->
<app-notifications></app-notifications>

<!-- Application area -->
<!--<div class="container-fluid" style="padding-top:15px;">  -->
<angular-loader></angular-loader>
<router-outlet></router-outlet>
<!--</div>-->

<!-- EVS Footer -->
<app-evs-footer></app-evs-footer>

<ng-template #licenseModal let-modal>
  <div class="modal-body">{{licenseText}}
  </div>
  <div class="modal-footer">
    <form action="" (submit)="modal.close()" method="POST">
      <button autofocus class="btn btn-sm btn-primary" type="submit">Accept</button>
      <button class="btn btn-sm btn-secondary" type="button" (click)="modal.dismiss()">Decline</button>
    </form>
  </div>
</ng-template>
