<div class="container">
    <div class="page-header">
        <span>Contact Us</span>
        <span style="float:right"><button [routerLink]="['/contact']"
                [queryParams]="{terminology: terminology}" label="New Search" pButton type="button"
                class="ui-button-coloring"></button></span>
    </div>

    <div class="row" style="padding-top: 4px;">
        <div class="col-md-8">
            <div class="contact-title-small">
                You can request help or make suggestions by filling out the online form below, or by
                using any one of these
                contact points:
            </div>
            <ul>
                <li>
                    Telephone: 240-276-5541 or Toll-Free: 1-888-478-4423
                </li>
                <li>
                    Email: <a href="mailto:NCIAppSupport@nih.gov">NCIAppSupport@nih.gov</a>
                </li>
                <li>
                    Web Page: <a
                        href="https://datascience.cancer.gov/about/application-support">https://datascience.cancer.gov/about/application-support</a>
                </li>
            </ul>

            <p>
                Telephone support is available Monday to Friday, 8 am - 8 pm Eastern Time, excluding
                government holidays. You
                may leave a message, send an email, or submit a support request via the Web at any
                time. Please include:
            </p>

            <ul>
                <li>
                    Your contact information;
                </li>
                <li>
                    Reference to the Term Suggestions Application; and
                </li>
                <li>
                    A detailed description of your problem or suggestion.
                </li>
            </ul>

            <p>
                For questions related to NCI's Cancer.gov Web site, see the
                <a href="https://www.cancer.gov/help">Cancer.gov help page</a>.
                For help and other questions concerning NCI Enterprise Vocabulary Services (EVS),
                see the
                <a href="https://evs.nci.nih.gov/">EVS Web site</a>.
            </p>
        </div>
    </div>
</div>