<footer class="site-footer">
    <div id="nvcgSlFooter">
      <div class="slot-item only-SI">
        <div class="site-footer__container">
  <div class="site-footer__header">
    <h1>
      National Cancer Institute
      <span>at the National Institutes of Health</span>
    </h1>
  </div>


  <div class="site-footer__nav">

    <div class="site-footer__contact">
      <h2>CONTACT INFORMATION</h2>
      <ul>
        <li>
          <a href="/contact" title="">Contact Us</a>
        </li>
        <li><a href="https://livehelp.cancer.gov">LiveHelp Online Chat</a></li>
      </ul>
    </div>

    <div class="site-footer__info">
      <h2>MORE INFORMATION</h2>
      <ul>
        <li>
          <a href="/about-website" title="">
            About This Website</a>
        </li>
        <li>
          <a href="/espanol" title="">Cancer.gov en español</a>
        </li>
        <li>
          <a href="/multimedia" title="">Multimedia</a>
        </li>
        <li>
          <a href="/publications" title="">Publications</a>
        </li>
        <li>
          <a href="/about-website/sitemap" title="">Site Map</a>
        </li>
        <li>
          <a href="/digital-standards" title="">
            Digital Standards for NCI Websites</a>
        </li>
      </ul>
    </div>

    <div class="site-footer__policies">
      <h2>POLICIES</h2>

      <ul>
        <li>
          <a href="/policies/accessibility" title="">Accessibility</a>
        </li>
        <li>
          <a href="/policies/comments" title="">Comment Policy</a>
        </li>
        <li>
          <a href="/policies/disclaimer" title="">Disclaimer</a>
        </li>
        <li>
          <a href="/policies/foia" title="">FOIA</a>
        </li>
        <li>
          <a href="/policies/privacy-security" title="">
            Privacy &amp; Security</a>
        </li>
        <li>
          <a href="/policies/copyright-reuse" title="">
            Reuse &amp; Copyright</a>
        </li>
        <li>
          <a href="/syndication" title="">
            Syndication Services</a>
        </li>
        <li>
          <a href="/policies/linking" title="">
            Website Linking</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="site-footer__agencies">
    <ul>
      <li>
        <a href="http://www.hhs.gov/">U.S. Department of Health and Human Services</a>
      </li>
      <li><a href="http://www.nih.gov">National Institutes of Health</a></li>
      <li><a href="https://www.cancer.gov/">National Cancer Institute</a></li>
      <li><a href="http://usa.gov">USA.gov</a></li>
    </ul>
  </div>

  <div class="site-footer__tagline">
    <h4>NIH ... Turning Discovery Into Health <sup>®</sup></h4>
  </div>
</div>


      </div>
    </div>
  </footer>
