<footer>
        <div class="footercustom">
                <div class="inner">
                        <ul class="menu">
                                <li><a title="link to NCI Policies"
                                                href="http://www.cancer.gov/global/web/policies">Policies</a></li>
                                <li>&nbsp; | &nbsp;</li>
                                <li><a title="link to NCI Contact Info" href="contact"
                                                >Contact Us</a></li>
                                <li>&nbsp; | &nbsp;</li>
                                <li><a title="link to NCI Accessibility Policies"
                                                href="http://www.cancer.gov/global/web/policies/accessibility">Accessibility</a>
                                </li>
                                <li>&nbsp; | &nbsp;</li>
                                <li><a title="link to FOIA"
                                                href="http://www.cancer.gov/global/web/policies/foia">FOIA</a></li>
                        </ul>
                        <br>
                        <ul class="menu">
                                <li><a href="http://www.hhs.gov/" title="link to HHS.gov" target="_blank"
                                                class="first link-dhhs">U.S. Department of Health and Human Services</a>
                                </li>
                                <li>&nbsp; | &nbsp;</li>
                                <li><a href="http://www.nih.gov/" title="link to NIH.gov" target="_blank"
                                                class="link-nih">National Institutes of Health</a> </li>
                                <li>&nbsp; | &nbsp;</li>
                                <li><a href="http://www.cancer.gov/" title="link to Cancer.gov"
                                                class="link-nci">National Cancer Institute</a> </li>
                                <li>&nbsp; | &nbsp;</li>
                                <li><a href="http://www.usa.gov/" title="link to USA.gov" target="_blank"
                                                class="last link-usa">USA.gov</a> </li>
                        </ul>
                        <br>
                        <ul class="menu">
                                <li>
                                        <blockquote>NIH… Turning Discovery Into Health &reg;</blockquote>
                                </li>
                        </ul>
                </div>
        </div>
</footer>
