<div *ngIf="concept" style="padding-top:3px;">
  <p-panel [showHeader]="false">
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <tbody>
          <tr>
            <td class="w-25">Preferred Name:</td>
            <td class="w-75">{{ concept.getPreferredName() }}</td>
          </tr>
          <tr>
            <td class="w-25">Display Name:</td>
            <td class="w-75">{{ concept.getDisplayName() }}</td>
          </tr>
          <tr>
            <td class="w-25">Label:</td>
            <td class="w-75">{{ concept.name }}</td>
          </tr>
          <tr>
            <td class="w-25">NCI Thesaurus Code:</td>
            <td class="w-75">{{ concept.code }}</td>
          </tr>
          <tr>
            <td class="w-25">Concept Status:</td>
            <td class="w-75">{{ concept.getConceptStatus() }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </p-panel>
  <br />
  <p-panel [toggleable]="true">
    <p-header class="bold-heading">
      Definitions
    </p-header>
    <div class="table-responsive">
      <p-table class="table table-striped table-bordered" [value]="concept.definitions" sortMode="single">
        <ng-template pTemplate="header" let-columns>
          <tr>
          <th class="w-80" [pSortableColumn]="'definition'">Definition
              <p-sortIcon [field]="'definition'"></p-sortIcon>
          </th>
          <th class="w-10" [pSortableColumn]="'source'">Source
              <p-sortIcon [field]="'source'"></p-sortIcon>
          </th>
          <th class="w-10">Attribution</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-val>
          <tr>
            <td>{{ val.definition }}</td>
            <td>{{ val.source }}</td>
            <!-- TODO: NCIt-specific, expand to generally use qualifiers -->
            <td><span *ngFor="let qual of val.qualifiers">
                <span *ngIf="qual.type == 'attribution'">{{ qual.value }}</span></span></td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </p-panel>
  <br />
  <p-panel [toggleable]="true">
    <p-header class="bold-heading">
      Synonyms & Abbreviations
    </p-header>
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th class="w-60">Term</th>
            <th class="w-15">Source</th>
            <th class="w-5">Type</th>
            <th class="w-10">Code</th>
            <th class="w-10">Subsource Name</th>
          </tr>
        </thead>
        <tbody>
          <!-- Only display the entries that have a termgroup -->
          <ng-container *ngFor="let synonym of concept.synonyms">
            <tr *ngIf="synonym.termGroup">
              <td>{{ synonym.name }}</td>
              <td>{{ synonym.source }}</td>
              <td>{{ synonym.termGroup }}</td>
              <td>{{ synonym.code }}</td>
              <td>{{ synonym.subSource }}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </p-panel>
  <br />

  <p-panel [toggleable]="true">
    <p-header class="bold-heading">
      Other Properties
    </p-header>
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th class="w-30">Type</th>
            <th class="w-70">Value</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let property of concept.properties">
            <tr>
              <td>{{property.type}}</td>
              <td><span [innerHTML]="checkExternalLink(property)"></span>
                <span *ngIf="property.qualifiers && property.qualifiers.length > 0">
                  <span *ngFor="let qual of property.qualifiers">
                    <br />&nbsp;&nbsp;{{ qual.type }} = {{ qual.value }}
                  </span>
                </span>
              </td>
              <!--
              <td>{{ concept[property].join(", ") }}</td>
              -->
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </p-panel>
  <br />

  <p-panel [toggleable]="true" *ngIf="concept.maps && concept.maps.length > 0">
    <p-header class="bold-heading">
      Maps To
    </p-header>
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th class="w-30">Target Name</th>
            <th class="w-20">Relationship to Target</th>
            <th class="w-20">Target Term Type</th>
            <th class="w-10">Target Code</th>
            <th class="w-20">Target Terminology</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let map of concept.maps">
            <td>{{ map.targetName }}</td>
            <td>{{ map.type }}</td>
            <td>{{ map.targetTermGroup }}</td>
            <td>{{ map.targetCode }}</td>
            <td>{{ map.targetTerminology }} {{ map.targetTerminologyVersion }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </p-panel>
  <br />

</div>
