<div *ngIf="concept" style="padding-top:3px;">
  <p-panel [showHeader]="false">
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <tbody>
          <tr>
            <td class="w-25">Preferred Name:</td>
            <td class="w-75">{{ concept.getPreferredName() }}</td>
          </tr>
          <tr>
            <td class="w-25">Display Name:</td>
            <td class="w-75">{{ concept.getDisplayName() }}</td>
          </tr>
          <tr>
            <td class="w-25">Label:</td>
            <td class="w-75">{{ concept.name }}</td>
          </tr>
          <tr>
            <td *ngIf="terminology=='ncit'" class="w-25">NCI
              Thesaurus Code:</td>
            <td *ngIf="terminology!='ncit'" class="w-25">Code:
            </td>
            <td class="w-75">{{ concept.code }}</td>
          </tr>
          <tr *ngIf="concept.getConceptStatus()">
            <td class="w-25">Concept Status:</td>
            <td class="w-75">{{ concept.getConceptStatus() }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </p-panel>
  <br />
  <p-panel [toggleable]="true" [collapsed]="collapsed">
    <p-header class="bold-heading">
      Definitions
    </p-header>
    <div class="table-responsive">
      <p-table class="table table-striped table-bordered" [value]="concept.definitions" sortMode="single"
        *ngIf="concept.definitions && concept.definitions.length > 0;else elseBlockDefinitions"
        (sortFunction)="customSort($event)" [customSort]="true">
        <ng-template pTemplate="header">
          <tr>
            <th class="w-80" [pSortableColumn]="'definition'">Definition
              <p-sortIcon [field]="'definition'"></p-sortIcon>
            </th>
            <th class="w-10" [pSortableColumn]="'source'">Source
              <p-sortIcon [field]="'source'"></p-sortIcon>
            </th>
            <th *ngIf="configService.isRdf() || configService.isSingleSource()" class="w-10">
              Attribution</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-val>
          <ng-container>
            <tr *ngIf="checkFilter(val)">
              <td [innerHtml]="bypassHTML(val.definition)"></td>
              <td [innerHtml]="bypassHTML(val.source)"></td>
              <!-- TODO: NCIt-specific, expand to generally use qualifiers -->
              <td *ngIf="configService.isRdf() || configService.isSingleSource()"><span
                  *ngFor="let qual of val.qualifiers">
                  <span *ngIf="qual.type == 'attribution'">{{ qual.value }}</span></span></td>
            </tr>
          </ng-container>
        </ng-template>
      </p-table>
    </div>
    <ng-template #elseBlockDefinitions>None</ng-template>
  </p-panel>
  <br />
  <p-panel [toggleable]="true" [collapsed]="collapsed">
    <p-header class="bold-heading">
      Synonyms & Abbreviations
    </p-header>
    <div class="table-responsive">
      <p-table class="table table-striped table-bordered" [value]="concept.synonyms" (sortFunction)="customSort($event)"
        [customSort]="true">
        <ng-template pTemplate="header">
          <tr>
            <th class="w-50" [pSortableColumn]="'name'">Term
              <p-sortIcon [field]="'name'"></p-sortIcon>
            </th>
            <th class="w-10" [pSortableColumn]="'source'">Source
              <p-sortIcon [field]="'source'"></p-sortIcon>
            </th>
            <th class="w-15" [pSortableColumn]="'termType'">Term Type
              <p-sortIcon [field]="'termType'"></p-sortIcon>
            </th>
            <th *ngIf="configService.isMultiSource()" class="w-10" [pSortableColumn]="'code'">Code
              <p-sortIcon [field]="'code'"></p-sortIcon>
            </th>
            <th *ngIf="configService.isMultiSource()" class="w-10" [pSortableColumn]="'subSource'">
              Subsource Name
              <p-sortIcon [field]="'subSource'"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-synonym>
          <!-- Only display the entries that have a termtype -->
          <ng-container>
            <tr *ngIf="checkFilter(synonym)">
              <td>{{ synonym.name }}</td>
              <td>{{ synonym.source }}</td>
              <td><span *ngIf="synonym.termType">{{ synonym.termType }}</span>
                <span *ngIf="!synonym.termType">({{ synonym.type }})</span>
              </td>
              <td *ngIf="configService.isMultiSource()"><a
                  *ngIf="!(configService.isSingleSource() && configService.isRdf()) && synonym.source == 'NCI' && synonym.code"
                  [routerLink]="['/concept/ncit/', synonym.code]" target="_top">{{ synonym.code
                  }}</a>
                <a *ngIf="!(configService.isSingleSource() && configService.isRrf()) && synonym.source == 'MDR' && synonym.code"
                  [routerLink]="['/concept/mdr/', synonym.code]" target="_top">{{ synonym.code
                  }}</a>
                <span *ngIf="(synonym.source != 'MDR' && synonym.source != 'NCI') || !synonym.code">{{
                  synonym.code }}
                </span>
              </td>
              <td *ngIf="configService.isMultiSource()">{{
                synonym.subSource }}</td>
            </tr>
          </ng-container>
        </ng-template>
      </p-table>
    </div>
  </p-panel>
  <br />

  <p-panel [toggleable]="true" [collapsed]="collapsed">
    <p-header class="bold-heading">
      Other Properties
    </p-header>
    <div class="table-responsive">
      <p-table class="table table-striped table-bordered" [value]="concept.properties"
        (sortFunction)="customSort($event)" [customSort]="true">
        <ng-template pTemplate="header">
          <tr>
            <th class="w-20" [pSortableColumn]="'type'">Type
              <p-sortIcon [field]="'type'"></p-sortIcon>
            </th>
            <th class="w-50" [pSortableColumn]="'value'">Value
              <p-sortIcon [field]="'value'"></p-sortIcon>
            </th>
            <th *ngIf="configService.isMultiSource() && configService.isRrf()" class="w-30"
              [pSortableColumn]="'source'">Source
              <p-sortIcon [field]="'source'"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-property>
          <ng-container>
            <tr *ngIf="checkFilter(property)">
              <td>{{property.type}}</td>
              <td>
                <span *ngIf="property.type == 'NCI_META_CUI' || property.type == 'UMLS_CUI'">
                  <a [routerLink]="['/concept/ncim/' + property.value]" target=_top>{{property.value}}</a></span>
                <span
                  *ngIf="!externalLinks[property.type] && property.type != 'NCI_META_CUI' && property.type != 'UMLS_CUI'"
                  [innerHTML]="checkExternalLink(property)"></span>
                <span *ngIf="property.qualifiers && property.qualifiers.length > 0">
                  <span *ngFor="let qual of property.qualifiers">
                    <br />&nbsp;&nbsp;{{ qual.type }} = {{ qual.value }}
                  </span>
                </span>
              </td>
              <td *ngIf="configService.isMultiSource() && configService.isRrf()">{{property.source}}
              </td>
            </tr>
          </ng-container>
        </ng-template>
      </p-table>
    </div>
  </p-panel>
  <br />

  <p-panel [toggleable]="true" [collapsed]="collapsed" *ngIf="configService.isRdf()">
    <p-header class="bold-heading">
      Maps To
    </p-header>
    <div class="table-responsive">
      <p-table class="table table-striped table-bordered" [value]="concept.maps"
        *ngIf="concept.maps && concept.maps.length > 0; else elseBlockMaps" (sortFunction)="customSort($event)"
        [customSort]="true">
        <ng-template pTemplate="header">
          <tr>
            <th class="w-30" [pSortableColumn]="'targetName'">Target Name
              <p-sortIcon [field]="'targetName'"></p-sortIcon>
            </th>
            <th class="w-20" [pSortableColumn]="'type'">Relationship to Target
              <p-sortIcon [field]="'type'"></p-sortIcon>
            </th>
            <th class="w-20" [pSortableColumn]="'targetTermType'">Target Term Type
              <p-sortIcon [field]="'targetTermType'"></p-sortIcon>
            </th>
            <th class="w-10" [pSortableColumn]="'targetCode'">Target Code
              <p-sortIcon [field]="'targetCode'"></p-sortIcon>
            </th>
            <th class="w-20" [pSortableColumn]="'targetTerminology'">Target Terminology
              <p-sortIcon [field]="'targetTerminology'"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-map>
          <tr>
            <td>{{ map.targetName }}</td>
            <td>{{ map.type }}</td>
            <td>{{ map.targetTermType }}</td>
            <td>{{ map.targetCode }}</td>
            <td>{{ map.targetTerminology }} {{ map.targetTerminologyVersion }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <ng-template #elseBlockMaps>None</ng-template>

  </p-panel>
  <p-panel [toggleable]="true" [collapsed]="collapsed" *ngIf="configService.isRrf()">
    <p-header class="bold-heading">
      Mappings
    </p-header>
    <div class="table-responsive">
      <p-table class="table table-striped table-bordered" [value]="concept.maps"
        *ngIf="concept.maps && concept.maps.length > 0; else elseBlockMaps" (sortFunction)="customSort($event)"
        [customSort]="true">
        <ng-template pTemplate="header">
          <tr>
            <th class="w-10" [pSortableColumn]="'sourceCode'">Source Code
              <p-sortIcon [field]="'sourceCode'"></p-sortIcon>
            </th>
            <th class="w-20" [pSortableColumn]="'sourceTerminology'">Source Terminology
              <p-sortIcon [field]="'sourceTerminology'"></p-sortIcon>
            </th>
            <th class="w-20" [pSortableColumn]="'type'">Relationship to Target
              <p-sortIcon [field]="'type'"></p-sortIcon>
            </th>
            <th class="w-10" [pSortableColumn]="'targetCode'">Target Code
              <p-sortIcon [field]="'targetCode'"></p-sortIcon>
            </th>
            <th class="w-20" [pSortableColumn]="'targetTerminology'">Target Terminology
              <p-sortIcon [field]="'targetTerminology'"></p-sortIcon>
            </th>
            <th class="w-20" [pSortableColumn]="'targetName'">Target Name
              <p-sortIcon [field]="'targetName'"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-map>
          <tr>
            <td>{{ map.sourceCode }}</td>
            <td>{{ map.sourceTerminology }}</td>
            <td>{{ map.type }}</td>
            <td>{{ map.targetCode }}</td>
            <td>{{ map.targetTerminology }} {{ map.targetTerminologyVersion }}</td>
            <td>{{ map.targetName }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <ng-template #elseBlockMaps>None</ng-template>
  </p-panel>
  <br />
</div>
