table a:link,
table a:visited,
table a:active {
  color: #06c;
  text-decoration: none;
}

table a:hover {
  color: #06c;
  text-decoration: underline;
}

.table td,
.table th {
  padding: .25rem;
}

/*
 * Over-ride bootstrap
*/

.page-header {
  font-weight: bold;
  padding: 6px 10px;
  background-color: #fff !important;
  color: #337ab7 !important;
  font-size: 20px !important;
  padding: 0px;
  padding-bottom: 3px;
  border-bottom: 1px solid #ccc !important;
}

.page-subheader {
  font-weight: bold;
  padding: 6px 10px;
  background-color: #fff !important;
  color: black !important;
  font-size: 18px !important;
  padding: 0px;
  padding-bottom: 3px;
  border-bottom: 1px solid #ccc !important;
}

p-dialog .p-dialog {
  overflow: scroll;
  max-height: 70%;
}


.btn-link {
  font-weight: 400;
  color: #428bca;
  background-color: transparent;
}

.download-btn-link {
  font-weight: 400;
  color: #428bca;
  background-color: transparent;
  border-color: transparent;
}


img,
svg {
  vertical-align: middle;
}

.btn-space {
  margin-right: 5px;
}

[type=reset],
[type=submit],
button,
html [type=button] {
  -webkit-appearance: initial;
}

body .alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

.alert-dismissible {
  padding-right: 3.8125rem;
}

.alert {
  position: relative;
  padding: .75rem 1.25rem;
  margin-top: .25rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

.btn-link {
  color: #222222;
  background-color: transparent;
  border-color: transparent;
}

.hierarchy-div {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  min-height: 400px;
}

.mapping-spacing {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.prime-dropdown-override {
  margin-right: .3em;
}

.p-autocomplete {
  width: 100%;
}

.tab-menu-body {
  box-shadow: 0 1px 12px 0 #ecf2f8;
  border-radius: 3px;
  border: 1px solid #ecf2f8;
  padding: 1em !important;
}

.p-tabview .p-tabview-panel {
  border-width: 0;
  padding-top: 0em;
  padding-left: 0em;
  padding-right: 0em;
  padding-bottom: 0em;
  background: 0;
}

.p-tabview .p-tabview-title {
  font-weight: bold;
  font-size: 16px !important;
}

.p-panel .p-panel-footer {
  border-width: 1px 0 0;
  padding: .25em .5em;
  text-align: left;
  background-color: #bee5eb;
}

.bold-heading {
  font-weight: bold;
  font-size: 16px !important;
}

.small-heading {
  font-weight: normal;
  font-size: 12px !important;
}

.btn-link {
  color: #222222;
  background-color: transparent;
  border-color: transparent;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.row-custom {
  display: flex;
  flex-wrap: wrap;
  margin-right: 2px;
  margin-left: 2px;
}

.margin-left {
  margin-right: 2px;
}

.paginator-stats {
  vertical-align: -webkit-baseline-middle;
  display: inline-block;
  padding: 2px;
}

.construction-logo {
  width: 300px;
  height: 120px;
}

.p-treetable .p-treetable-toggler {
  top: -10% !important
}

.p-button-coloring {
  border-radius: 0px !important;
  background-color: #1c5e86 !important;
  border-color: #1c5e86 !important;
}

.p-coloring {
  color: #1c5e86 !important;
}

.p-button-text-icon-left .p-button-text {
  padding: .28em 1em .28em 1.8em !important
}

.p-tabview-selected.ui-state-active {
  background-color: #1c5e86 !important;
  border-color: #1c5e86 !important;
}

.regular-link {
  color: #319fbe !important;
}

.p-table-scrollable-header-box {
  margin-right: 17px
}


.pb-0 {
  padding-bottom: 0px !important;
}

.pl-3 {
  padding-left: 3px !important;
}

.pr-3 {
  padding-right: 3px !important;
}

.pointer {
  cursor: pointer;
}

.mapping-container {
  width: 90%
}


.welcome-title {
  width: 100%;
  font-weight: bold;
  padding: 6px 10px;
  background-color: #fff !important;
  color: #337ab7 !important;
  font-size: 20px !important;
  padding: 0px;
  padding-bottom: 3px;
  border-bottom: 1px solid #ccc !important;
}

.welcome-title-small {
  font-weight: bold;
  background-color: #fff !important;
  color: black !important;
  font-size: 14px !important;
  padding: 0px;
}

.alt-row-table tr:nth-child(even) {
  background-color: lightgrey;
}

.source-table {
  margin-left: 40px;
}